[2015-07-27 08:29] Bertram25 opened #481 "Map + audio debug script -> Small debug GUI to debug stuff"
Linked to #480

Created a debug script that run a map + music for a few secs and then start another one, until the tester stops the program. This will permit to debug lua and audio memory usage easily.

Also, several scripts may be needed to the debug GUI will have to take this into account.

[2015-07-27 08:29] Bertram25 commented on #480
@Oberon00

Many many thanks for the pointers :D I'll have a deeper look at all that tonight, and check whether something desired is lacking, but if the effort can be common on luabind, I'll be more than happy to become one of your fork. :)

@authenticate

Interesting indeed. I can make this happen rather easily through a debug script running loading and unloading of different maps. I'll open an is

[2015-08-02 06:24] endoalir commented on #480
I made [another attempt] (https://github.com/endoalir/ValyriaTear/commit/928623ee83922f44b21bdc4901cbd764699dc179) to investigate memory usage. Seems for the audio side of things, it's all about music data. On the Lua end, it has to do with animations, apparently.

[2015-08-03 23:06] Bertram25 commented on #480
Perfect!

Btw, I'm in process of improving VT debug feature to run any kind of debug script and also dump the stack(s) from scripts.

As for the music, I must say I've not checked yet. But this will come. :)

[2015-08-10 03:33] endoalir commented on #480
After looking for a while, the audio logic is rather greedy, but not broken. On the Lua side, however... the debug code you added shows thousands and thousands of Lua thread objects, from some initial checking.

[2015-08-15 00:48] Bertram25 opened #483 "Make the editor use Qt5 + Move to own repo"
Everything is in the title...

[2015-08-18 10:11] Bertram25 commented on #480
I know there are many thread (are those actually thread) created at startup. I don't have any evidence at whether their number is increasing though. Yet, see below!

[2015-08-18 10:20] Bertram25 commented on #480
For everyone to know, I've created the ValyriaTear organization two days ago, and I will start moving stuff there, little by little.
I did that because things were getting messy with three repositories and because this will be a lot easier to assign stuff to volunteers now VT is becoming more and more a community project and a bit less a solo one. ;)

The second important thing is that I managed t

[2015-08-18 11:17] akien-mga commented on #480
Nice, good idea to move everything to @ValyriaTear. GitHub makes the process very easy too.

Regarding the luabind fork, it appears that it's not "linked" to @Oberon00's repo. Maybe you should refork it from the GitHub interface to benefit from GitHub's tracking of differences with the upstream repo + pull requests?

[2015-08-18 22:10] endoalir commented on #480
Check issue 2 on my fork. The call to lua_checkstack is returning false indicating it can't grow anymore. Ignoring this, more thread objects are created, eventually corrupting the lua global state.

[2015-08-18 22:36] Bertram25 commented on #480
Completely true. I'll do that now. Thanks for watching my back! :)

This is done there: https://github.com/ValyriaTear/ValyriaTear/blob/master/src/engine/script/script_read.cpp#L67

Once I've switched the luabind implementation, with @Oberon00 's one, could you check that point again? We'll also have to add a check there, indeed.

[2015-08-23 22:06] Bertram25 commented on #480
For everyone to know, I've moved from plain luabind to @Oberon00 's fork. Yep, it's done.
I've also created the following PR so we can discuss a potential inclusion in Oberon's fork and further improvements there... https://github.com/Oberon00/luabind/pull/29

[2015-08-23 22:07] Bertram25 commented on #480
@endoalir

Want me to have a go at checking that one or have you got some magic trick in mind already?

[2015-08-23 22:08] Bertram25 commented on #483
After some thought about it, nope, not everything is in the title. I think I'll move the editor in a separate repo, and remove the need to compile luabind for it at the same time. It will make things much cleaner. :)

[2015-08-23 22:12] Bertram25 commented on #480
@endoalir Ah, and now we're using a new luabind, could you when time permits you, to do a quick check on how memory is doing compared to before? Thanks a lot!

[2015-08-23 22:13] Bertram25 commented on #481
I need to improve a bit the debug scripts window, but we're getting there!

[2015-08-23 22:14] Bertram25 commented on #463
Superseded by #480 as importing @bmorel 's worthy changes is part of it.

[2015-08-23 22:14] #463 closed

[2015-08-24 02:54] endoalir commented on #480
Well, @Bertram25, it certainly didn't solve the problem at the wolf cave. I retrieved a fresh copy of your repository and also the associated Luabind and built it new. I tracked memory usage each 10 seconds, shown below. "Sun Aug 23 21:34:04 CDT 2015" is right before I started entering the wolf cave. I entered and exited it about 25 times. Memory usage grew and grew, the Lua stack overflowed, and

[2015-08-24 03:13] endoalir commented on #480
I know you can't just pop that lua thread object off the stack arbitrarily. I tried it and doing that breaks the world. I think the answer is to use lua_ref, make a reference to that thread object, then you can pop it off immediately and deference the thread object later on.

[2015-08-27 08:21] Bertram25 commented on #480
Just to be sure, only in the wolf cave or in general? (IMO, it's general)

Good hint. Thks. :)

I guess you mean let the GC dereference the object later on. I'll try that in any case.

[2015-09-02 23:13] Bertram25 commented on #483
The vt-editor has moved to its own repository, only the move to QT5 is left to be done now.

[2015-09-06 02:08] kozross opened #486 "``git submodule update --init --remote`` fails"
Exact error message reproduced below:

     Cloning into 'src/luabind'...
     fatal: remote error:
       ValyriaTear/luabind.git master is not a valid repository name
       Email support@github.com for help
    Clone of 'git://github.com/ValyriaTear/luabind.git master' into submodule path 'src/luabind' failed

[2015-09-06 23:24] shirishag75 commented on #486
+1 here.

[2015-09-07 04:57] rootslinux commented on #483
I've done some research into moving the Allacrost editor to Qt5. It's quite tough, I'm afraid. I started from scratch with the m4/qt.m4 file using the qt.m4 file by the freeciv project and tried to get it configured correctly for our build system. I don't know if that will be helpful or not since last I checked I think VT uses CMake and not automake. If you need the m4 file though, I'll be happy t

[2015-09-07 11:25] akien-mga commented on #483
Well as far as the buildsystem is concerned, with CMake I believe @Bertram25 most likely won't need much more than replacing ```FIND_PACKAGE(Qt4 REQUIRED)``` by ```FIND_PACKAGE(Qt5 REQUIRED)```. Then some includes will have to be fixed due to headers being moved around, and I guess there are some API changes to handle as well.

[2015-09-08 22:23] Bertram25 commented on #486
Hi @kozross @shirishag75 :)

Could you try replacing the url part with:
`https://github.com/ValyriaTear/luabind.git`
in the `.gitmodules` file and tell whether it is working?
The complete line would be:
` url = https://github.com/ValyriaTear/luabind.git master`

[2015-09-08 22:27] Bertram25 commented on #483
I must say that the move to Qt5 is done, as for compiling ;) (See below a dirty version)
The thing is, the beast compiles but doesn't run so far. I'm doing something plainl wrong but I still didn't find the time to go on with this, yet. Might be linked to the removal of OpenGL. If you have any ideas... :)

Here is the dirty patch:
[code]

[2015-09-08 22:47] kozross commented on #486
Same issue. For some reason, the last line also doesn't change (the url starts with ``git`` rather than ``https`` despite me making the change you asked for).

[2015-09-12 07:18] Bertram25 commented on #486
@kozross Hi again, Sorry for the slow answer, but my spare-time is scarce those days. ;)

I just fixed the submodule url in this commit:
c537f324575df8d21c08eec5ad82b4b887234c5a

Could you pull the latest changes and then do:
[code]
Thanks!

[2015-09-12 08:53] kozross commented on #486
@Bertram25 OK, that fixed that issue. Thanks!

[2015-09-12 08:53] #486 closed

[2015-09-12 08:54] kozross opened #487 "Valyria Tear fails to build"
It gives me such a long error message that my terminal history isn't long enough to remember it! I'll paste what I could get below:

[code]

[2015-09-12 21:58] Bertram25 commented on #487
@kozross Hey,

Well, this is weird. I just removed the luabind find module, made sure libluabind isn't installed on my system, cleaned everything linked to cmake, and rebuilt everything. I've got no errors on my side.

But everything was building before also.

Could your try cleaning the files linked to cmake:
[code]
And try to invoke cmake and make again?

Thanks!

[2015-09-13 03:59] kozross commented on #487
I tried both that, and a clean download. I still get the same error. If this is of any help, this happens at link time.

I don't have luabind on my machine.

[2015-09-13 08:17] Bertram25 commented on #487
Indeed, I recognized well the error at link time and this makes it ever more weird. :S
What os/distribution are using ? I guess you are using gcc ?

[2015-09-13 08:41] kozross commented on #487
I use [Parabola GNU/Linux-libre][1] (an Arch fork). I am using GCC 5.2.0.

[1]: https://www.parabola.nu/

[2015-09-14 08:26] Bertram25 commented on #487
@kozross Hey,

From what I can see, VT is failing to link against liblua while it could find it and compile against its include.
Since you're using gcc 5.x, I do think the liblua* lib of your system was compiled using gcc 4.x which is incompatible when using gcc 5.
Is there a way for you ensure the liblua libs are packaged using the latest gcc version?

[2015-09-14 12:11] kozross commented on #487
I have several version of liblua, and one of them (the oldest) is built using GCC 4.8.2. What version does VT link against by default?

[2015-09-14 12:16] akien-mga commented on #487
Check CMakeCache.txt, but it should be the one pointed to by your liblua.so or liblua5.1.so symlink in the library path.

[2015-09-14 15:44] Bertram25 commented on #487
Indeed! The best way to ensure you're using the correct one is to check the lib used in the cache and fix accordingly. You can also use tools for that, such as `cmake-gui` or `ccmake` to ease the pain of configuring your build.

[2015-09-14 21:21] kozross commented on #487
That would explain it - my 5.1 is built against an older GCC. I'll see if I can get the package maintainer for my distro to rebuild it. As an alternative - would there be any issues to building against a more recent liblua?

[2015-09-14 21:44] Bertram25 commented on #487
No, VT should run fine against lua 5.1-5.3. :)

[2015-09-15 09:06] kozross commented on #487
OK, without Lua 5.1 on my system, this built without issue. Thanks!

[2015-09-15 09:06] #487 closed

[2015-09-15 14:22] Bertram25 commented on #487
@kozross Cool :) Have fun!

[2015-09-30 00:03] authenticate commented on #435
I found an article on the internet the other day related to this topic:

http://www.fortressofdoors.com/doing-an-hd-remake-the-right-way/

The relevant section is "Tile Artifacts".

I think we are approaching the problem correctly.  The article says to compose the scene first at its native resolution and then scale it.  This is the same approach we decided to implement; as long as I am understandi

[2015-09-30 22:35] Bertram25 commented on #483
Note: Almost there. :)

[2015-09-30 22:39] Bertram25 commented on #435
Yeah, I spent something like two hours reading it yesterday. This article is an absolute jewel. :)
I even have a pass on the best ways to upscale graphics.

Overall, it also makes me think it's the right way to go, indeed.

[2015-10-03 10:43] Bertram25 commented on #455
Fixed by @authenticate in https://github.com/ValyriaTear/ValyriaTear/commit/35c0e68dc2ebfe05680a4e2b6278fbbd8ce15b1f

thanks a lot!!

[2015-10-03 10:43] #455 closed

[2015-10-07 22:54] Bertram25 commented on #483
Mostly done with: https://github.com/ValyriaTear/vt-map-editor/commit/15049e952062fffd81f5ac08847f3cf290e5fa1c

I'll have a bit of fun cleaning some mess on it. :)

[2015-10-07 22:54] #483 closed

[2015-10-12 21:09] Bertram25 commented on #481
This is basically done with latest commit.

[2015-10-12 21:09] #481 closed

[2015-10-12 22:37] Bertram25 commented on #480
Btw, I'm testing something like this atm:
http://lua-users.org/lists/lua-l/2004-04/msg00313.html

[2015-10-12 23:35] Bertram25 commented on #480
For info. This code is actually doing a great job at deleting threads, even if the app crashes atm:
[code]

The thing is, the engine now needs to be fine-tuned to close script files, only when there corresponding threads can be dropped. This is feasible and I'll work on that little by little. :)

[2015-10-16 08:55] kozross opened #490 "No 'uninstall' target"
This is a little mean - it makes it difficult to uninstall this after you use 'sudo make install'.

[2015-10-17 05:09] eugeneloza commented on #391
I was thinking about grinding (you never know when you have to stop grinding and advance) and came up with idea that it may be avoided this 2 ways: XP for enemy is divided by 'average' party members levels (Arcuz way) or new levels take much more XP to level up but new toughter monsters provide respective increase (Old-school RPG way). That'll make inefficient grinding e.g. at lvl1 slimes and will

[2015-10-17 10:20] akien-mga commented on #391
Both solutions could be interesting yes. I had also proposed the old school solution to make XP requirements per level and XP gain per monster level follow an (attenuated) exponential rule. So you'd be able to grind e.g. up to level 4 by fighting level 2 monsters, but it would soon become really tedious to gain more levels as your XP requirements would already be too high. That makes it relatively

[2015-11-02 22:29] Bertram25 commented on #480
@endoalir @authenticate I think the lua/luabind memleak is gone :D

[2015-11-02 22:30] Bertram25 commented on #480
@rootslinux I recommend you have a look at that one, as HoA is clearly concerned by this very hurting flaw: https://github.com/ValyriaTear/ValyriaTear/commit/3dc767df548c2ab7f1d02009f7d263408ba84ada

[2015-11-02 23:39] Bertram25 commented on #490
Indeed. Yet, keep in mind that this will uninstall where the latest prefix was set. But otherwise, I'm fine adding it. :)

[2015-11-02 23:52] kozross commented on #490
That's fine - this is the default behaviour of most projects anyway.

[2015-11-03 00:53] authenticate commented on #480
Good job all at tracking this down.  These issues are notoriously difficult to solve.

[2015-11-03 12:42] Bertram25 opened #491 "Move the battle common resources loading to the global resources"
Move the battle media resource in the global ones. The Global media resources are loaded once, but the battle media are loaded at each battles. This doesn't make sense. One sole global loader makes much more sense.

[2015-11-03 12:42] Bertram25 commented on #491
Separated from #480

[2015-11-03 12:44] Bertram25 opened #492 "Image Memory refactoring to clean up and import."
There are interesting bits of refactoring in ImageMemory and ustring from @bmorel that I'll have to cleanup and import:
https://github.com/bmorel/ValyriaTear/commits/refactoring

Was separated from #480

Ustring part is actually #462

[2015-11-03 12:45] Bertram25 commented on #480
I separated the two other items into new issues. I'll close this one.

[2015-11-03 12:45] #480 closed

[2015-11-05 21:59] Bertram25 commented on #462
Considered done with: https://github.com/ValyriaTear/ValyriaTear/commit/76817d0c84140d73f80c2e83cd49a65a71baaeea

A nice improvement could be to see whether we can use wstring as a standard replacer.

[2015-11-05 21:59] #462 closed

[2015-11-05 23:55] Bertram25 commented on #480
@authenticate Sorry for the slow answer. Thanks a lot. :)

[2015-11-06 00:01] #492 closed

[2015-11-08 02:02] authenticate opened #497 "Saving PNG image bug."
Hi,

When swapping between certain resolutions in map mode through the pause menu, the background screen captured image has what appears to be a stride problem.

Consider the following images

![image_one](https://cloud.githubusercontent.com/assets/4543259/11018301/b0201efe-8591-11e5-8dc2-9cf453327340.png)

![image_two](https://cloud.githubusercontent.com/assets/4543259/11018304/bd1f5cf0-8591-11e5

[2015-11-08 02:20] authenticate commented on #497
Note: Accepting #498 will require this issue to be reproduced another way.

[2015-11-08 23:47] Bertram25 commented on #497
I could reproduce this issue once, but no more afterward. Does this still happen before #494 #495 ?

[2015-11-09 00:08] Bertram25 commented on #497
N.B.: #498 may have hidden/fixed this bug.

[2015-11-09 23:30] authenticate commented on #497
I believe the bug happens starting at 671454164e6c5d5b74dd7794a6ee3b387a038f7f.

In addition, #498 hides the bug since we no longer save background images to disk.  They are kept in memory.  However, I am pretty confident the issue is still present somewhere.

[2015-11-11 17:26] Bertram25 commented on #497
Arg, seems I caused a regression... Do you want me to create a branch where removal of the save to disk feature is reverted?

[2015-11-11 23:15] #491 closed

[2015-11-11 23:20] #490 closed

[2015-11-11 23:21] Bertram25 commented on #490
@kozross Have fun!

[2015-11-11 23:43] #470 closed

[2015-11-12 00:38] authenticate commented on #497
I wouldn't worry about making a branch or anything.  It shouldn't be too difficult to go back to the old commit and debug.

Screen shots appear to work correctly.  The capture screen shot functionality does not seem to execute the code with the bug in it.  Hopefully that will help in tracking down the issue.

[2015-11-21 20:07] #298 closed

[2015-11-23 12:33] #497 closed

[2015-11-23 16:12] Bertram25 opened #504 "Fix Build and/or Travis CI"
As seen in recent builds, but also there:
http://forum.freegamedev.net/viewtopic.php?f=76&t=6636

[2015-11-23 16:31] akien-mga commented on #504
It should likely be fixed here: https://github.com/ValyriaTear/ValyriaTear/blob/master/.travis.yml#L5-L6

[2015-11-24 10:36] Bertram25 commented on #504
Thanks. But I think not only. Certain targets have changed and equivalent travis.yml should be added to the two other projects.

[2015-11-24 22:48] Bertram25 commented on #504
This is done with:
https://github.com/ValyriaTear/ValyriaTear/commit/9fe36fa434d1ec213e438175c4a8f48c74394c6e

Actually, @akien-mga did the job. ;)

[2015-11-24 22:48] #504 closed

[2015-11-26 01:02] #320 closed

[2015-11-29 21:39] hagabaka opened #505 "Specify path to lookup installed data files"
On Linux, the installed game executable seems to look for data files directly in the current directory, but they are actually installed to `PREFIX/share/valyriatear`. Is there a way to specify the location where the game looks for data?

[2015-11-29 21:47] akien-mga commented on #505
Hm, if I remember correctly it it's working out of the box; if you do have data files in the current directory though, they will be used in priority over the system installed ones.

[2015-11-29 21:58] hagabaka commented on #505
If I run the installed `valyriatear` from an arbitrary directory, it quits with
[code]
If I run it from `/usr/share/valyriatear`, it works (the error about jack is still there but is harmless).

[2015-12-01 22:57] Bertram25 commented on #505
Hi @hagabaka and sorry for the slow answer.

Some time has passed since it looked a that part correctly, but you should be able to specify the data install prefix when invoking CMake, e.g.:
```cmake -DCMAKE_INSTALL_PREFIX="/path/to/prefix/folder" .```

valyriatear should then look for it after checking for local data path.

Is it helping you?

[2015-12-02 05:21] hagabaka commented on #505
I'm already using `cmake -DCMAKE_INSTALL_PREFIX=/usr`.

Actually the problem is in  [line 518 of main.cpp](https://github.com/ValyriaTear/ValyriaTear/blob/master/src/main.cpp#L518):
[code]
If I change the file check to `!std::ifstream("data/config/settings.lua").good()`, the problem is fixed. According to [cppreference](http://en.cppreference.com/w/cpp/io/ios_base/iostate), the "failbit", not the

[2015-12-03 01:04] hagabaka commented on #505
I created the pull request #507 to fix the crash.

About the error on "white noise image for the collision map", the code triggering this is in [line 83 of src/modes/map/map_minimap.cpp](https://github.com/ValyriaTear/ValyriaTear/blob/master/src/modes/map/map_minimap.cpp#L83)
[code]
It attempts to initialize a global constant with the content of file "data/gui/map/minimap_collision.png", but since

[2015-12-03 01:16] authenticate opened #508 "Memory Leak in Shop Mode"
Hi,

I think there are some memory leaks happening in the shop mode.  I do not believe the pointers in the following maps are being properly freed:

[code]

In addition, I think there is a subtle memory leak related to GlobalObjects.

The following code does NOT leak GlobalObjects.  The inventory system manages these objects and properly frees them.

[code]

However, the following sections of code

[2015-12-08 17:47] Bertram25 commented on #505
I'll check this asap. Thanks for fixing the rest, though. :)

[2015-12-20 16:53] authenticate commented on #508
Pull request #509 attempts to resolve this.

[2015-12-21 21:42] Bertram25 commented on #508
IMHo, you did it! :)

[2015-12-21 21:42] #508 closed

[2015-12-21 21:45] Bertram25 commented on #435
This was improvement thanks to off-screen rendering support made by @authenticate in https://github.com/ValyriaTear/ValyriaTear/pull/506

[2015-12-21 21:51] Bertram25 opened #510 "Battle mode - background is not forcefully updated when the mode is instanced directly"
This is coming from #491

Now the battle media has moved to the global resources, when one instantiate the battle mode directly, the battle background is not reset to default one anymore.
This is a fine behaviour as I prefer not having useless memory changes. But there is no way to set the battle background for a given battle mode at the scripting level.
Only for battle encounter and enemy sprites

[2015-12-21 22:12] Bertram25 commented on #505
Hey,

I just checked and _PrepareSurface() is called by _CreateProcedurally(), which is what happens when the minimap is created from the map data instead of from a given prepared file. So it is used in the end. I'll have a go at fixing this.

[2015-12-21 22:13] #505 closed

[2015-12-21 22:22] #510 closed

[2015-12-21 22:22] Bertram25 commented on #510
I was wrong after all. There was a way to get the BattleMedia class. So the fix was simple.

[2015-12-30 20:15] #386 closed

[2016-01-12 22:06] Bertram25 opened #514 "First Layna Forest Cave background isn't shown anymore"
The cave map script is in : data/story/layna_forest/lana_forest_cave1_1* files.

This map script is loading the following script:
layna_forest_caves_background_anim.lua
And the background function there is called (I tested) but the still image is not drawn.

[2016-01-12 22:07] Bertram25 commented on #514
@authenticate For information. This might be linked to the graphic pipeline, or not.

[2016-01-13 21:52] Bertram25 opened #515 "Add minimap howto in the wiki"
While doing the maps for Ep II

[2016-01-13 21:53] #385 closed

[2016-01-14 12:43] ghost opened #516 "Some features are not documented/not obvious to the player"
I'm mostly thinking about the choice of the body part to hit there, but there might be others.

So, some attacks allow to choose a body part to hit, and the consequences of this choice should be explained somewhere. If it has no consequences yet it should be explained too.

[2016-01-14 12:55] libregametester opened #517 "mushroom minigame broken; possibility to fight a mushroom twice"
In the mushroom cave in the early scenarios there's a minigame with mushrooms, balls and switches. When you've killed a mushroom its corpse is supposed to appear one tile away from you. However, if you keep nervously hitting 'F' once the fight is finished, a new fight with the mushroom will start before the mushroom turns into a corpse. After the fight is finished the mushroom corpse will appear t

[2016-01-14 14:37] Bertram25 commented on #517
Thanks for the detailed exploit. I'll check this out.

[2016-01-14 14:39] Bertram25 commented on #516
Actually, you have a small explanation about it, when on the body location selection, and pressing the menu key. But there are hidden game features not yet well reprensented.
As there are more to come (formation, skill tree), I'll be on that after adding everything.

Could you try the Menu key 'S' and tell me what else would be missing in your own opinion, if anything?

[2016-01-14 14:56] akien-mga commented on #516
Maybe there could be hints about such features like getting more info by pressing the menu key on battle actions? Like a small tip window showing up during the first battle to explain the various interface elements are they become relevant.

[2016-01-14 15:01] Bertram25 commented on #516
True. I would even make it visible in all battles at the right moment. Thanks for the hint.
I thus propose to add an action icon + text when currently showing the body parts of an enemy. I still have to think about how to precisely do it, but that's the idea.

I also have to rethink the first battles in a more interesting way, I guess. Like tracking the first time certain interesting actions happe

[2016-01-14 15:03] libregametester commented on #516
Ok sorry, I didn't know about the 'S' key.

Nothing to add, except that I never remember which character property correspond to which icon and what they do.

It's explained in the dialogs but I think there should be _at least_ a "documentation" item in the main menu summarising the basics of the game.

Among other things that have confused me there were the appearance of the character portraits so

[2016-01-14 16:03] Bertram25 commented on #516
It would be cool indeed, but uneasy as long as all the game features are not there. I did started a static html documentation here, in case you need some, though. See: https://github.com/ValyriaTear/ValyriaTear/blob/master/doc/manual/index.htm
(You need to download the source first, though).
My actual goal is update this documentation and use it as a base to create the in-game documentation conten

[2016-01-14 16:20] akien-mga commented on #516
Based on this feedback I think @libregametester has not much experience with classical JRPGs like those of the Super Nintendo that ValyriaTear is heavily inspired from.

That's great feedback as we can now ask ourselves the question: which JRPG mechanics are not obvious to players who having played JRPGs as kids, and how to make them easier to understand without annoying experienced users (i.e. th

[2016-01-14 19:24] authenticate commented on #514
I think pull request #518 should address this issue.

[2016-01-14 19:47] libregametester commented on #516
On Thu, Jan 14, 2016 at 08:03:23AM -0800, Yohann Ferreira wrote:

This is good. I would have saved time if I had read this when I've started playing the game.

I've juste read the "Battles" part. What happens when one of your characters die but you win the battle ?

I guess the icons could be a bit better overall. If you show the Fortitude and Protection icons to a newcomer and ask him which one i

[2016-01-14 19:56] libregametester commented on #516
On Thu, Jan 14, 2016 at 08:20:43AM -0800, Rémi Verschelde wrote:

That's true, I'm just starting to test free RPGs now. So far I've looked at things like Ardentryst and Flare and I didn't have much trouble understanding the mechanics.

In-game teachers are good since it's a fun way to learn the game, but they should be coupled with a documentation available all the time in case you don't remember

[2016-01-18 10:57] Bertram25 commented on #514
Fixed with #518 . Thanks a lot @authenticate

[2016-01-18 10:57] #514 closed

[2016-01-18 11:11] Bertram25 commented on #516
Duly noted. In-game teachers, contextual tooltips, and ultimately a game manual.

[2016-01-18 12:23] Bertram25 commented on #516
Only survivors earn XP. Is there anything to add?

About the icons and the rest, I must say I agree overall and something should be done about this.
The stats may even need a rename to be more straight forward. For info, those icons were made based on the former Allacrost ones for speed purpose.
Now that this is done, it will be a clever thing to make it all more obvious, indeed.
I'll let this iss

[2016-01-25 22:08] susnux opened #522 "Compile error luabind (git head 2016-01-18)"
When building ValyriaTear with boost 1.60 and lua5.3 I get this error:

    [  139s] [ 17%] Built target translations
    [  165s] In file included from /home/abuild/rpmbuild/BUILD/ValyriaTear-1.0.0+20160118/src/luabind/luabind/back_reference.hpp:26:0,
    [  165s]                  from /home/abuild/rpmbuild/BUILD/ValyriaTear-1.0.0+20160118/src/luabind/luabind/class.hpp:72,
    [  165s]

[2016-01-26 21:22] Bertram25 opened #523 "GlobalManager::AddToInventory(): Needs probable harmonization"
As pointed out by @authenticate in #520 , the `GlobalManager::AddToInventory()` functions have a different memory management process, which was probably the root cause of the memory leak seen.

This issue is about looking at both functions and see whether it would be possible to make them handle the object the same way.

[2016-01-26 21:52] Bertram25 commented on #522
Hi @susnux :)

Thanks for the report about this. Unfortunately, I still don't have boost60 here so it will have to wait a bit more before I can try to reproduce. That said, mpl is a pretty common boost component, so hopefully, this can be solved rather easily. :)

[2016-01-26 23:30] susnux commented on #522
I found a solution which works at least for me:
I replaced the luabind submodule with this one:
https://github.com/rpavlik/luabind

and modified the src/CMakeLists.txt for it.

[2016-02-07 16:20] Gallaecio commented on #203
Awesome! I’ve been focusing on the translation of a different project for quite some time, and I’ve just now found out about this as I was updating the Galician translation.

It would be awesome if you could let me know which font you used for the original title, so I can try to use that font as well. Any other information on how to achieve a similar look to the original title is much appreciated.

[2016-02-13 14:33] Bertram25 commented on #203
Hey @Gallaecio long time no see, indeed. ;)

I used the following font: http://www.dafont.com/fr/scriptina.font

About how I did it: The logo is made of two parts: A golden effect (but a bit darker than of the tutorial)
https://www.gimp.org/tutorials/Golden_Text/

I also duplicated the text before and traced it using a somewhat bigger brush using the brown color you can see around the gold.

Good

[2016-02-22 17:58] Bertram25 commented on #522
Hi @susnux :)

I've upgraded the luabind version used with Valyria Tear. It seems the following commit could help:
https://github.com/ValyriaTear/luabind/commit/fb3c6623c728209a2ba69d178bd87589bf04e9cf

Feel free to tell whether it improves the situation or not.

As soon as I have libboost 1.58 at hand, I'll try to reproduce this issue.

Cheers.

[2016-02-22 18:14] Bertram25 commented on #516
Ah and better icons for base stats.

[2016-02-22 18:15] Bertram25 commented on #516
This will be done little by little. I may start with icons as it is the most important, but it will depends on my free time.

[2016-02-24 01:47] authenticate opened #527 "Binary Releases for Windows and OS X"
Hi,

I noticed there are some releases in the "Releases" tab on Github.  However, the download links only contain source.

For Windows and OS X, I think it would be beneficial to also have binary downloads.

This is not a super critical feature or request.  I just thought it would be nice to also have binary download options right from Github for the project.

Thanks.

[2016-02-24 22:05] Bertram25 commented on #527
Hi @authenticate !
True. I guess I never did it because source forge already provided support for it, but yes, I'll upload those ones as true release once I've got a better bandwidth. (Next week hopefully)

[2016-02-24 23:43] Bertram25 commented on #527
Also, once your latest PR is in (with some fixes to the particle effects), I think I'll release a developer builds to show off progresses made so far. (Even if no story has been added yet.)

[2016-02-28 14:16] hasufell commented on #522
Doesn't build with boost-1.60 either:
[code]

[2016-02-28 19:48] Bertram25 commented on #516
@libregametester @akien-mga This is all work in progress, but what do you already think?
(What's next is internal refactoring for the menu code and new icons for HP, SP, and stunned state.)
![screenshot_11](https://cloud.githubusercontent.com/assets/765917/13381432/6c94ef56-de5c-11e5-912c-6e2a1a698c99.png)

[2016-02-28 21:43] akien-mga commented on #516
This looks very good! And wow, new characters! Episode 2 in the making? :-D

[2016-02-28 21:47] Bertram25 commented on #516
Has been since a long time ago. ;) Nothing really new in term of data, but I'm getting close from being ready for the 1.1 release :D (Thanks also to @authenticate )

[2016-02-28 22:40] libregametester commented on #516
This is definitely better. I suggest you work on the brightness of the shield icon to bring it out from the background a bit more, and work on the contrast of the magical defense icon so the central shield can be distinguished effortlessly. Apart from that the names and the icons are much more self-explanatory than the previous ones. Maybe I would still advocate for my "target next to the silhouet

[2016-02-28 22:53] Bertram25 commented on #516
Thanks for all the comments. :)
Ok, we are on it, the shields will probably go first following your comment. As for the evade one, Lilou has an idea about it as well, but that's for tomorrow or during the week. ;)

[2016-02-29 20:13] Bertram25 commented on #522
Arf, I'll hint upstream right now.

[2016-02-29 21:29] Bertram25 commented on #522
@susnux @hasufell This one should now be fixed with: 45cd9fb2e33b5da27a031c3bb5713e607f97dc43

Don't forget to do: `git submodule update --remote` before trying again. Could verify for me?

Cheers. :)

[2016-02-29 21:56] hasufell commented on #522
I have all sorts of problems now. It seems you have force-pushed.

[2016-02-29 21:58] Bertram25 commented on #522
If you're speaking about vt-luabind, I'm indeed guilty, but I did this because I want my own commits to stay clearly on top compared to @Oberon00 's repo.
I'll have to improve them so they get integrated once, though.

[2016-02-29 21:59] hasufell commented on #522
You should never force-push to a repository that is used by others and not just for PR-work. You can have a cleaned-up secondary branch that you can use for your actual PR then.

[2016-02-29 22:00] hasufell commented on #522
And yes, it compiles now.

[2016-02-29 22:03] Bertram25 commented on #522
I'm well aware of the practice, but well, it's not as if VT was being worked by a full team of developers every day.

Cheers,

[2016-02-29 22:04] Bertram25 commented on #522
Closed with https://github.com/ValyriaTear/luabind/commit/45cd9fb2e33b5da27a031c3bb5713e607f97dc43

[2016-02-29 22:04] #522 closed

[2016-02-29 22:15] Bertram25 opened #528 "Text scissoring bug dependent on resolution"
Depending on the resolution used, some texts may be badly scissored.

This can be rather easily worked around, but a better thing would be to fix it while one can reproduce it easily.
Notice the "Bare-Hand' text in the command menu:
Using 768x576:
![screenshot_12](https://cloud.githubusercontent.com/assets/765917/13410807/006e622e-df3a-11e5-8928-859c503358fd.png)
Using 800x600:
![screenshot_13](ht

[2016-02-29 22:16] Bertram25 commented on #528
@authenticate For you to know. May be linked to scissoring improvements. Cheers!

[2016-02-29 22:44] Bertram25 commented on #516
As this issue is getting crowded (which is bad to get things done), I'll try to split it now in bullet points, feel free to point out any missing thing:

- [ ] Add an action icon + text when currently showing the body parts of an enemy to hint about the help key (S)
- [x] If you show the Fortitude and Protection icons to a newcomer and ask him which one is the natural armor and which one is the ma

[2016-03-01 02:44] authenticate commented on #528
I am pretty sure you are right.  I will take a look at it.

[2016-03-03 03:54] authenticate commented on #528
Pull request #534 should clean this up.

[2016-03-05 08:29] chlin501 opened #536 "luabind file missing error"
When executing cmake . (or mkdir build && cd build && cmake ..), it throws following error message:

``CMake Error: File /path/to/ValyriaTear/src/luabind/build_information.hpp.cmake_in does not exist.
CMake Error at src/CMakeLists.txt:126 (CONFIGURE_FILE):
  configure_file Problem configuring file``

After installing luabind-dev package the error still exists.
Environment: debian stretch/sid, cmak

[2016-03-05 13:58] Bertram25 commented on #536
Hi @chlin501

As stated in the README file:

Cheers,

[2016-03-05 13:58] #536 closed

[2016-03-05 14:29] Bertram25 commented on #528
Indeed fixed with #534

[2016-03-05 14:29] #528 closed

[2016-03-31 11:23] akien-mga opened #541 "FTBFS for 1.0.0 with GCC 5"
Hi @Bertram25,

I just noticed that my valyriatear package has been failing autobuilds in Mageia since Aug 2015, which appears to be when we introduced GCC 5.3.1 instead of 4.9.2: http://pkgsubmit.mageia.org/autobuild/history.php?package=valyriatear

The issue seems to be related to luabind:
[code]

See full build log: http://pkgsubmit.mageia.org/autobuild/cauldron/x86_64/core/2016-03-20/valyriate

[2016-04-01 23:29] Bertram25 commented on #541
@akien-mga Hmm, I'll need some more time to have a look carefully. I'll do that at the same time than reviewing @authenticate 's code. :)

[2016-04-13 16:33] akien-mga commented on #541
I'm now trying to build HEAD to see if it works better (I suppose it will). If it works fine, do you think I can use your luabind submodule as a drop-in replacement for the embedded version in 1.0.0?

[2016-04-13 18:24] akien-mga commented on #541
I managed to build 1.0.0 against GCC 5.3 by replacing the bundled version with the new submodule and using this patch to adapt the buildsystem: http://svnweb.mageia.org/packages/cauldron/valyriatear/current/SOURCES/valyriatear-1.0.0-mga-cmake-luabind.patch?view=markup

I then had one issue when building with `CMAKE_BUILD_TYPE=RelWithDebInfo` on i586:
- First with PCH compilation enabled:
[code]
Fu

[2016-04-24 18:59] Bertram25 commented on #541
@akien-mga Thanks for the job done on this one. I'll try to sort this out now. Could you review me once this is done? (I'll be on OD stuff afterwards)

[2016-04-24 19:14] Bertram25 commented on #541
This is true, I'll remove the type `RelWithDebInfo` from the `-DDEBUG` thing.

Would this work for you?
[code]

[2016-04-24 19:17] Bertram25 commented on #523
Fixed by #540 .
The inventory handling code is fine enough. What would need more love is the inventory code in the menu mode, but that's another story. (I would even say epic)

[2016-04-24 19:17] #523 closed

[2016-04-24 19:49] akien-mga commented on #541
The patch looks good :)

[2016-04-24 22:13] Bertram25 commented on #541
@akien-mga I can cherry-pick that to 1.0 afterward, if you want.

[2016-04-24 22:13] #541 closed

[2016-04-25 06:25] akien-mga commented on #541
Thanks! For 1.0, if you cherry-pick the fix for RelWithDebInfo, it would be nice to grab http://svnweb.mageia.org/packages/cauldron/valyriatear/current/SOURCES/valyriatear-1.0.0-mga-cmake-luabind.patch?view=markup too and update the luabind embedded version with that of the submodule.

I think most distros ship GCC 5 nowadays so they would all get issues with the older luabind version.

[2016-04-25 20:57] Bertram25 commented on #541
All done!

Follow the tag:
https://github.com/ValyriaTear/ValyriaTear/releases/tag/1.0.0-gcc5

Cheers,

Le 25/04/2016 08:25, Rémi Verschelde a écrit :

[2016-08-26 16:29] Bertram25 commented on #364
Done! Phew ... :)

[2016-08-26 16:29] Bertram25 commented on #364
Will close when merging the start of new game balancing

[2016-08-26 16:54] akien-mga commented on #364
He's aliiiiiiiive o_O

[2016-08-28 21:11] Bertram25 commented on #387
Something must be found in a better way than the game over screen. Yet, VT has got no loading screen at all yet. Probably a battle tutorial will have to be added within the story to help with status effect. I'll add a way to get some hint about this.

[2016-08-28 21:15] Bertram25 commented on #391
Used a new balance based on 'material' items which are to be exchanged either for items, or money.
Which already makes the game more interesting and gives interest in getting potions.

I also tweaked slimes and spiders stats and appearances to make the game beginning less steep.
Last but not least, I improved their base attacks visual and added special attacks to them.

[2016-08-28 21:18] Bertram25 commented on #391
Next step is to tweak the Fenrir, and the snakes, adding repeatables tutorials along the way.

[2016-08-28 21:32] eugeneloza commented on #391
Great! I'm really looking forward to game continuation :)

[2016-08-29 00:07] Bertram25 commented on #387
I'll add several hint stones throughout the game, about:
- stamina handling (and running)
- characters stats & status effects.
- encounters (ambushes and first strikes)

[2017-01-28 16:32] Bertram25 commented on #468
N.B: See whether it makes sense to add it now after addition of the skill tree and stats boost through it.

[2017-01-28 16:40] Bertram25 commented on #387
Hints will have to be placed during the beginning of the game (Why not through Kalya.)

[2017-01-28 16:42] Bertram25 opened #544 "Fix passive status effects appliance on character at the beginning of the battle"
- [x] Normally, passive Status effects are applied, but this needs proper checking, and the GUI should show it, and doesn't at the moment.

- [x] Also, when pushing the battle menu button, status effects should be shown for the current character in full letters, so that new players grasps the principle much more easily.

[2017-01-28 16:44] Bertram25 commented on #544
This can be notably seen using the Wolf necklace.

[2017-03-03 15:19] gunchleoc opened #545 "Language selection broken in Windows"
I tried to select a language other than English, and the game remembers the selection, but does not translate anything. Restarting the game doesn't help.

Version: 1.1.0 Sept 4 2014

Windows 7, 64 bit.

ETA: This is an upstream bug, so I have filed a bug over there as well:

https://bitbucket.org/allacrost/allacrost/issues/51/language-selection-broken-in-windows

[2017-03-04 18:28] ghost opened #547 "Use KWStyle or any code formatting help tool"
Hi.

KWStyle can help to indicate rules that are not respected in source code. (It is packaged in at least Debian and Trisquel.)

I usually use this "KWStyle.xml":
[code]

But I have a lot of errors on your project with this rules. So it would be useful that you define rules for your project before a potential fix.

Then to use it, it is simple: `KWStyle -R -v -gcc -d src/`

Regards.

[2017-03-12 19:06] Bertram25 commented on #545
Hey @gunchleoc
As told in #546 ,

As for your translation issue, if and only if you are on linux, it is true that sometimes the translations don't get updated properly the first time.
After modifying the `LINGUAS` file, you'll need to get rid of your `CMakeCache.txt` file and the `CMakeFiles/` folder and reinvoke CMake again. Then, during the 'make' step, you should see a line looking like: `Gener

[2017-03-12 19:19] Bertram25 commented on #547
Interesting tools that actually slipped under my radar. I'll have to play with it, so give me a few days, so I'll make a few test but based on what I read in the example, I would just say:
- I don't care about the empty lines as long as there is not 10 lines between two functions or two code blocks. (I mean I don't really care if there are 2 empty lines instead of 1.)
- The max line length would r

[2017-03-13 08:47] gunchleoc commented on #545
I mean I cant select any of the already existing languages other than English at all, never mind adding a new one. Try selecting "Deutsch" on Windows.

[2017-03-13 17:27] Bertram25 commented on #545
Let me assess a few things:
- Are on Windows?
- Did you clone and compiled ValyriaTear yourself, or is it from an instance used from the Windows installer?

[2017-03-13 19:53] Bertram25 commented on #545
Ok, so as discussed, this is from installer taken on blogspot, installed on Win7. Interesting ... I'll check on windows myself asap.

[2017-03-14 07:15] gunchleoc commented on #545
I had a look at my browser history, I must have downloaded it from SourceForge. `valyriatear-win32-1.0.0-installer.exe`

[2017-03-15 16:12] RyDroid commented on #547
- I do care, but use the limit you desire.
- I sometimes use a 1024*768 screen (an old computer in one of my parent house), that is one of the reason I care (it is not comfortable to read a line split "randomly" / not in an elegant way). The other one, that is most important, is to view multiple files at once (there is a way to do that at least in Emacs and Qt Creator) (again without "bad" splits

[2017-03-17 07:36] gunchleoc commented on #545
I managed to create a debug build with Visual Studio 2013 on the current git version. The issue is still here, so please reopen.

The vs project didn't generate and of the translation binaries, so I just grabbed them from my Linux build. Translation loading works fine on Linux.

[2017-03-17 09:05] Bertram25 commented on #545
ok, you're right. While it is feasible to make it work on Windows, it is definitely worth improving.
the thing is we need to add checks the gettext tools are installed in a CMake find module file of some sort first. Then, we can ask windows users to install what's needed at cmake configure time and ensure the translation binaries can be generated automatically.

[2017-03-17 09:07] akien-mga commented on #545
You have a module for that: https://cmake.org/cmake/help/v3.0/module/FindGettext.html

[2017-03-17 09:15] Bertram25 commented on #545
Must say I was pretty sure there was something. ;)

[2017-03-17 09:24] Bertram25 commented on #547
- As for the empty line limit, let's put 3 and see what happens.
- I agree for the split screen feature as I use it daily. The thing is I was indeed thinking 1366x768 was the standard dev resolution nowadays and most of the code is fine with this. (Not that I think 100% of the code is fine ;]). Let's try 90 and see the errors.
- Let's try also 1 variable per line and one statement per line.

As fo

[2017-03-17 09:42] gunchleoc commented on #545
FYI this is how it loos with only the German and Gaelic translation files added:
![languages](https://cloud.githubusercontent.com/assets/4095570/24037464/cc848fea-0af5-11e7-8381-9e430fac17d0.png)
So it at least detects the presence of the language catalogs.

BTW I just noticed that the language name for Japanese is in English. I know what the native name is, so I can fix that up.

[2017-03-17 09:54] gunchleoc commented on #415
I recommend using `pgettext` for the disambiguation. This will also allow us to have the same string duplicated for the 2 genders when necessary. We will need to ship our own `gettext.h` file with some additional macros for that. There's an improved version for that on Widelands - please feel free to grab: https://bazaar.launchpad.net/~widelands-dev/widelands/trunk/view/head:/src/third_party/gette

[2017-03-17 09:59] gunchleoc opened #553 "Add support for mixed fonts"
At the moment, Japanese can't use its native language name in the language selection menu, because we don't have support for mixed fonts.

Partial translations will probably also look better with mixed fonts.

I'm interested in taking on this bug myself once I have figured out my text truncation problem.

[2017-03-17 10:05] Bertram25 commented on #415
Thanks for the link.
Just to point out, as it may be slightly different, the true issue is to make possible to have translation based on the lead characters, and not forcefully the gender, which is somehow a trick to make it work.
So I may adapt the engine to do so, instead. As later, I hope you will have more than 2 fully playable characters.

[2017-03-17 10:09] Bertram25 commented on #553
Yep, that would be an interesting feature. Please keep in mind that I would also like to be able later to add custom glyphs, so that we could insert images in the middle of the text. Like joystick buttons and such things. Just in case.

[2017-03-17 10:11] Bertram25 commented on #545
Yup, I added this some times ago for disambiguation purpose.

[2017-03-17 10:12] Bertram25 opened #554 "1.1 release"
This issue is there for general discussion purpose about the 1.1 release, which should be the next one.

[2017-03-17 10:23] Bertram25 commented on #554
@gunchleoc @RyDroid : Hi again guys, I just opened this issue so we can share each others thought about the current dev effort right here!

I wanted to add a few notes there so that everybody is aware of what is happening, even if I'm super slow with progress atm, but it's improving. ;)

**Just a side note about the project feature and code:**
As I've seen @gunchleoc open bugs in Hero of Allacrost

[2017-03-17 10:24] Bertram25 commented on #554
@akien-mga FYI

[2017-03-17 10:27] gunchleoc commented on #553
If you create a markup language for that, the images could be referenced by printf placeholders, so that the translator won't touch the code, but still gets a proper sentence structure. So, that feature would be totally independent of the fonts, unless we use emojis.

[2017-03-17 10:33] Bertram25 commented on #553
We wouldn't use emojis, so yes, indeed. :)

[2017-03-17 13:01] gunchleoc opened #556 "VisualStudio: Error 1 error LNK2019: unresolved external symbol _SDL_main referenced in function _main"
Compiling with VisualStudio causes a linking error:

[code]

This happens because `SDL_main.h` contains the line `#define main SDL_main`

- https://forums.libsdl.org/viewtopic.php?p=6759
- https://stackoverflow.com/questions/6847360/error-lnk2019-unresolved-external-symbol-main-referenced-in-function-tmainc

[2017-03-17 13:12] Bertram25 commented on #556
@gunchleoc Could you try adding:
#undef main
after the #include <SDL.h> when on VisualStudio?

If it works, we may use #ifdefs to do it automatically.
cheers,

[2017-03-17 13:14] gunchleoc commented on #556
Tried it, didn't work :(

[2017-03-17 13:30] Bertram25 commented on #556
And in the second comment, they say it is because main should be declared like this:
int main(int argc, char *argv[])
I believe we just changed that to:
int main(int argc, const char *argv[])
Can you remove the const and see whether it helps?

Cheers,

[2017-03-18 10:38] RyDroid opened #559 "expr == false or !expr ?"
Hi.

In the source code, I saw some `expr == false`, that seems strange to me. I am more used to `!expr`, but it is true that it is less explicit. So I am wondering if it is an intended coding style in this project or not.

Regards.

[2017-03-18 10:49] Bertram25 commented on #559
Hey,

I'm definitely for using !expr for me, just as a matter of taste and as it is taking less space.
Feel free to use that way.
Cheers,

[2017-03-18 10:49] #559 closed

[2017-03-18 10:56] #556 closed

[2017-03-18 11:19] RyDroid commented on #559
Ok. `cd src && $(grep -r ' == false' | wc -l) -eq 0` should be used in Travis CI to check that.

[2017-03-18 11:20] RyDroid commented on #559
The same thing should be applied for true. https://github.com/ValyriaTear/ValyriaTear/pull/562

[2017-03-18 14:07] RyDroid commented on #547
- Done.
- Even with 120, there are a lot of reported too long lines. (https://github.com/ValyriaTear/ValyriaTear/pull/564 is just a very small piece)
- 188 errors for 1 variable per line and 1 statement per line!

[2017-03-18 14:39] Bertram25 commented on #547
Wow, indeed, adding this in the travis check will be very useful as medium term goal.

[2017-03-18 14:40] Bertram25 commented on #547
We should even make a CMake target to easily run this. E.g: make stylecheck or something similar. The target could exist only if the tool is detected on the system. I can have a go at this.

[2017-03-18 16:58] RyDroid commented on #547
It would be great and not hard to do.

[2017-03-18 23:16] Bertram25 commented on #547
I'll finish the escape circle feature and tweak the monsters a bit in order to merge back new_game_balance asap. Then, I'll do it if you want.

[2017-03-19 15:23] gunchleoc opened #569 "Support for plural forms"
I am implementing a convenience function for translating strings with plural forms in them, but I can't figure out how to trigger xggettext. I found the code in po/CmakeLists.txt, but I don't know how to run it. I tried any and all cmake target that I can think of.

[2017-03-19 19:01] gunchleoc commented on #554
I have started playing on the new branch - this way I can test it and proofread my translation at the same time :)

I'm still at the beginning of the fighting. Maybe the first 1 or 2 encounter spots shouldn't have any spiders in them - they can cause too much damage until the party has at least 1 level and the shirt & cloak. This way, players could take a peek into the forest. Maybe set it to 2-3

[2017-03-20 06:36] gunchleoc commented on #554
I got an empty chest on the first forest map.

![valyria tear - empty chest](https://cloud.githubusercontent.com/assets/4095570/24090363/66eae186-0d37-11e7-8857-6ac9c5580be0.png)

[2017-03-20 06:42] gunchleoc opened #570 "Running with cancel key is not intuitive"
When I want to run on the map, I keep pressing the action key (F) and get caught before I remember that I have to use the cancel key (D).

[2017-03-20 07:46] gunchleoc commented on #554
Another bug in the balance branch - do you want me to repoprt them all in this thread, or open a new issue for each one?
![valyria tear - endless percent](https://cloud.githubusercontent.com/assets/4095570/24091644/361b211a-0d41-11e7-947e-7f85cfc51757.png)

[2017-03-20 09:09] gunchleoc commented on #341
No not use vim or any other plain-text editor. Use Poedit or Virtaal, because they come with a translation memory. Poedit also has built-in translation checks.

[2017-03-20 21:19] Bertram25 commented on #570
Running using the cancel key permits to avoid adding a key for this and is especially handy when playing using a pad. Sorry, but I won't change this without a good counter proposal.

[2017-03-20 21:19] #570 closed

[2017-03-20 21:29] Bertram25 commented on #554
I'd say, let's discuss them first to avoid opening issues uselessly. But I won't be angry if you open issues when you feel like it. :)

It's completely open to discussion. I think you're right. I'd even say why not lower the spiders a bit, so that the players can get just a bit further?

That one was on purpose on Ep 1 1.0, but as we'll have to revamp the treasures content there.... If I'm not mis

[2017-03-20 21:31] Bertram25 commented on #569
Hmm, I think you wanna try this one, right?
`make update-pot`
Since this one will parse all the map scripts and engine source code and create the pot file out of it.

[2017-03-20 21:32] Bertram25 commented on #569
Note to self: I should add some doc page about this.

[2017-03-20 22:17] RyDroid commented on #547
Ok.

[2017-03-21 08:02] gunchleoc commented on #570
Why not use F like I suggested? No key added at all.

If it's better for a pd, would it be complicated to keep it like it is for the pad and change it for the keyboard? Although that might be confusing as well.

[2017-03-21 08:05] gunchleoc commented on #569
Yes, that works, thanks!

[2017-03-21 09:12] gunchleoc commented on #554
nerfing the spiders would make them too easy later on. I think we will be fine with just nerfing the first 2 fights by having no spiders in them. I was also thinking that it would be nice to have some pale globs in the caves rather than green globs that are a little bit stronger. They should be pretty fast to do by recoloring the graphics. Of course, some centipedes or some such that have a poison

[2017-03-26 13:14] Bertram25 commented on #570
F (or the confirm key) is used atm to trigger a battle before the enemy does it. The goal is that if the character face the enemy and is first to select the battle, the party gets a small advantage.
Thus, F is already used, even if not actually introduced to the player yet.

[2017-03-26 13:15] Bertram25 commented on #569
@gunchleoc I think the feature is in, right?

[2017-03-26 13:21] gunchleoc commented on #570
Ah, I didn't know that. OK, let's scrap this idea then.

[2017-03-26 13:26] gunchleoc commented on #569
For the C++ part only, unless luabinding automatically grabs things? I am used to eris where you need to add all new functions to the interface manually - I haven't looked at luabinding at all yet.

We also need to verify that xgettext will pick them up. xgettext now also supports extracting strings from Lua, so we might be able to scrap our custom shell script in the future - that's another thing

[2017-03-26 13:35] Bertram25 commented on #569
I'll push something about this asap. So you have an example.

Well, in that part, I added CTranslate because I had a hard time making the contextual translation work, I mean with the c++ and lua side working for both Windows and Linux. Too bad I can't remember the exact issue now, though. IIRC, I think the pgettext was not well supported on Windows, but I'm not sure it is exactly this and things m

[2017-03-26 13:46] gunchleoc commented on #569
I will grab the `gettext.h` from Widelands for the pgettext thing - we tweaked that one for 3 operating systems to get the compiler warnings to shut up.

Our gettext doesn't work at all on my Windows anyway at the moment, so that needs fixing anyway.

I will be gone for a few weeks, so you don't have to hurry with implementing something from me. You already have some working translation code in Lu

[2017-03-26 15:10] Bertram25 commented on #569
Np, nothing too fancy so fat, I added NVTranslate support on lua script with this one: f6dbbae53a3bd2102e458d7ae074076936794b1a

[2017-03-26 20:05] #364 closed

[2017-03-26 20:05] #517 closed

[2017-03-26 20:10] Bertram25 commented on #554
Few, I finished adding support for escape point at the logic level. And I've finally merged back to master. This way, everyone involved can test the bleeding edge, and provide feed-back, it will also be easier for the next row of changes on my todo list. ;)

[2017-03-27 07:55] gunchleoc commented on #569
That's really easy :)

[2017-04-10 11:30] akien-mga opened #575 "Reviewing OAuth permissions for ValyriaTear organisation"
Hi @Bertram25

Not directly related to the game and thus offtopic in this repo, but an issue is the simplest way to discuss it.

While giving permissions to GitLab to have access to my own account, I noticed that the ValyriaTear organisation is configured for unrestricted access, i.e. the fact that I gave GitLab.com access to my account also gave it access to ValyriaTear. See:

![2zngcw4pt](https:

[2017-04-10 11:31] akien-mga commented on #575
Note that once put in restricted mode, you can still grant access to the organisation to specific applications, as needed.

[2017-04-10 18:41] Bertram25 commented on #575
Hey @akien-mga

Well, I've got this as third party authorized applications:
![image](https://cloud.githubusercontent.com/assets/765917/24876898/aef75110-1e2d-11e7-8dae-9d5a1c193e25.png)

And I've got no setup open OAuth policy:
![image](https://cloud.githubusercontent.com/assets/765917/24876958/e332a524-1e2d-11e7-8177-23990732bd80.png)

Thus, I'm wondering what makes you feel this is open. Maybe i

[2017-04-10 19:24] akien-mga commented on #575
Oh it's all good then, I just though you had "Policy: Access unrestricted", but it appeared as available to GitLab simply because you already gave it an access token (which was not the case for OpenDungeons, which I fixed).

[2017-04-10 19:24] #575 closed

[2017-06-25 20:50] ibara commented on #554
Hi. Do not consider this me pushing you to finish version 1.1, but I am very much looking forward to it :)
I probably cannot help much, but if you need people to test on other platforms (like OpenBSD, for me) please let me know!

[2017-06-26 10:22] gunchleoc commented on #554
I will not be able to do anything on this project before August. I'd still like to see the translation bug fixed on Windows, but I hit a brick wall and will have to try again from scratch.

[2017-07-08 09:14] Bertram25 commented on #554
Hey guys :)

Very first of all, let me take the opportunity to wish you all a great summer.
Thanks for your support @ibara . I'll indeed may need your testing help once the master branch is less... messy.
Atm, I still need to finish the big feature of the skill graph and the battle formation, and then rebalance the game to make it just playable. ;)
This is a lot already, but once it is done, I'll

[2017-08-19 09:33] Bertram25 commented on #554
@rydroid Hey, I've been very busy lately but will review all your job tonight. Cheers,

[2017-08-21 19:57] RyDroid commented on #216
http://mentors.debian.net/package/valyriatear redirects to https://mentors.debian.net/packages/index?packagename=None
Searching "valy" (in case insensitive mode) returns nothing. Is the work accessible somewhere?

[2017-08-21 20:54] Bertram25 commented on #216
oh nowws 😭
@anholt I know you are very busy. Could you simply upload your work somewhere so that @RyDroid can takeover?

[2017-08-21 21:09] RyDroid commented on #216
- I believe that it is a licensing problem that can not be resolved by simply separating files in 2 debian source packages, but I may be wrong.
- Having a separate repo for art will imply more work : 2 source packages instead of one (that generates 2 "real" packages), but it would simplify the copyright file by splitting it.

[2017-08-21 23:15] RyDroid opened #600 "update-copyright.sh has no license"
Hi.

`update-copyright.sh` has no license. It comes from Warmux, a dead project.
https://github.com/yeKcim/warmux
https://linuxfr.org/news/warmux-cd-remix#comment-1648747

My contribution can be considered to be under Creative Commons 0 (version 1.0). But I am not the only contributor of this file. Has someone more information?

Regards.

[2018-02-08 22:40] Bertram25 commented on #554
Some news. Takes time but I've finished a first usable version of the skill graph editor + added a first skill graph in Valyria Tear that you can navigate.

The next steps are:
- to add some nodes info for test,
- add the logic to buy nodes with XP,
- and replace the current logic to learn everything automatically with this.
- I'll add a link to the skill tree in the battle win screen for convenie

[2018-02-23 18:45] eugeneloza opened #602 "Kalya actually calls Herth "father""
Which actually contradicts to

Not that it's critical, but might be worth fixing :)

[2018-02-24 15:57] Bertram25 commented on #602
Good catch! :)
Since this scene will stay for 1.1, I'll fix it while working on the game start.
Many thanks for the report.

[2018-02-26 21:20] Bertram25 commented on #389
This issue is ... Over! :D :tada:
Addition of a shortcut in the victory battle screen will happen, but the bulk of it is done and functional (AFAIK)

[2018-02-26 21:20] #389 closed

[2018-02-26 21:24] Bertram25 commented on #554
Skill graph addition is now integrated back into the mainline game. (Whoohoo).
Now, it's time to revamp the intro a bit ;)

[2018-02-26 22:52] Bertram25 opened #604 "Game intro revamp"
Revamp intro to change the following:
- [x] Bronann still needs to fetch the barley meal, but goes simply through Flora and Lili. Encounter Kalya and Orlinn along the way.
- [x] Bronann's father provides him the wooden sword and ask him to go help Olivia.
- [x] Helping Olivia means go down the well, and fight rat as tutorial battles.
  - [x] Add well underground map
  - [x] Wire it to other maps a

[2018-02-26 22:53] Bertram25 opened #605 "Add Battle Victory Menu to go directly to the Skill Graph menu"
For convenience

[2018-02-26 23:03] Bertram25 commented on #600
Hmm, you're right. This file is muddy. Let's remove it. Copyright years update is not mandatory anyway. Especially on files without major modifications.

[2018-02-26 23:05] #600 closed

[2018-04-12 01:52] flaviojs opened #606 "Overflow in AudioDescriptor"
I'm getting this when compiling the game in linux with gcc++ 5.4.0:

[code]

which corresponds to these 3 functions:

https://github.com/ValyriaTear/ValyriaTear/blob/95b9f14c6dd01e4f4a60bfd568412433b79ae0c9/src/engine/audio/audio_descriptor.cpp#L567-L580

Changing `&position` to `&position[0]` or `position` fixes the warning.
This means that `&position` is a `float**` (instead of `float*`) and tha

[2018-04-12 08:00] flaviojs opened #610 "Infinite loop in ScriptEngine::DEBUG_PrintGlobals"
Lua 5.1 has a circular reference: the global table `package` contains a table in the key `loaded` that contains a reference to the global table `package`.

The proper fix is to keep track of what is printed and avoid traversing printed tables.
Since this is for debug only, stopping `ScriptEngine::DEBUG_PrintTable` when tab reaches a reasonable number should be enough.

[2018-04-22 17:07] Bertram25 opened #611 "Add support for multiple light layers"
... and remove the at night, lost_in_darkness scripts in story/common

[2018-04-30 01:31] flaviojs opened #612 "Battle victory doesn't level up the character properly."
Battle victory gradually adds XP to the character in:
https://github.com/ValyriaTear/ValyriaTear/blob/682e19366668f57f47066ddbd0b73db9b0c801ee/src/modes/battle/finish/battle_victory.cpp#L380

The actual level up happens in:
https://github.com/ValyriaTear/ValyriaTear/blob/682e19366668f57f47066ddbd0b73db9b0c801ee/src/common/global/actors/global_character.cpp#L633

### Problem 1:
When you level up, t

[2018-04-30 15:32] flaviojs opened #613 "Flood of false-positive debug warnings"
To debug something I tried modifying the source and playing the game with the extra command line arguments `-d all` (to get the full picture).
Unfortunately, I got a never ending flood of other messages as I played, like the warning "unable to access the table variable", and as a consequence was unable to debug in real time (during play).

After looking into it, most messages appear to be complain

[2018-05-01 23:07] #602 closed

[2018-05-01 23:12] Bertram25 commented on #613
Nice catch. I'd be to enforce ReadXXX() include a default value when not there, and check for existence in every implementation.
I'd rather keep the "client" API simple. E.g.: Only one set of functions but with a reasonable behavior.
I'll tackle this eventually if nobody else does.

[2018-05-01 23:14] Bertram25 commented on #554
Intro is revamped. I'll fix some other linked bits now: quest log, tutorial battle position, and I'll start balancing the game afterwards :)

[2018-05-01 23:16] Bertram25 commented on #612
oops, will have a look while rebalancing. Thanks!

[2018-05-25 22:51] #604 closed

[2018-05-25 22:58] Bertram25 commented on #554
game intro quest log and related stuff done. Now time to balance the game XP, material and so on. :D

[2018-05-26 09:04] Bertram25 commented on #554
game intro quest log and related stuff done. Now time to balance the game XP, material and so on. :D

[2018-05-26 18:05] #612 closed

[2018-05-26 18:05] Bertram25 commented on #612
Fixed! Thanks again for the nice catch.

[2018-05-27 01:06] #544 closed

[2018-05-27 20:50] #605 closed

[2018-05-27 21:01] Bertram25 commented on #415
Note to self: search for '(text, hero' for instances of the issue.

[2018-05-27 22:19] Bertram25 commented on #415
After searching a bit, as dialogues are loaded once at the same time than the script and because the "hero" sprite is reloaded to be the party leader afterward, I'd need to be able to tell the dialogue manager the dialogue is to be reloaded depending on the sprite name. And this becomes nasty.
Instead, I'll do what I have naturally done with other scene, I'll make both character appear, and the ac

[2018-06-10 10:19] Bertram25 commented on #445
I'm reopening this as the performance settings is triggering the bug.
Also, the battle intro effect is broken wit performance.

[2018-06-26 21:44] #445 closed

[2018-07-07 23:05] #387 closed

[2018-08-28 08:56] Bertram25 opened #615 "Clean of battle code"
Main issue: Battle timers are not standard and make status effects time values look ridiculous.
- [x] Of the 3 battles different types, only one is used. Let's kill the 2 other and simplify the code.
- [x] Fix the status time values to simply make sense. (i.e. not be multiplied by 25 for nothing, ...)

Second main issue: Battle logic handle stamina update speed, and should made so that the skill i

[2018-09-06 02:39] B4rabbas opened #616 "Error : failed to change directory to data location"
Hello,
when 'im trying to lauche the game I've this message :

barabbas@barabbas-H:~$ '/home/barabbas/ValyriaTear/src/valyriatear'
ERROR:/home/barabbas/valiriatear/ValyriaTear/src/main.cpp:main:533:
EXCEPTION:/home/barabbas/valiriatear/ValyriaTear/src/main.cpp:main:508: ERROR: failed to change directory to data location

[2018-09-06 07:14] akien-mga commented on #616
Looks like you changed the location of your build (and data) folder after compilation, removing the "valiriatear" intermediary folder. I don't remember how VT locates data when ran from source butbyou likely need to recompile to fix the path.

[2018-09-06 17:02] B4rabbas commented on #616
Yep many thanks. :)

[2018-09-06 17:02] #616 closed

[2018-09-06 21:03] Bertram25 commented on #616
@B4rabbas  I confirm you need to rebuild to make it work. Have fun with the code even though I still believe I've got some work left to give people a smooth experience with master.

@akien-mga Thanks for the watch :)

[2018-09-06 23:10] B4rabbas commented on #616
Cheers bro

[2018-09-07 18:39] akien-mga commented on #616
@Bertram25 I'm always around, waiting for you to start playing with @godotengine to code with you some more again :D

[2018-09-30 15:03] FulcrumA commented on #391
Random player who got the game off somewhere in 1.0 versiona nd decided to give it a try. While I am not involved with this project much, I did spend a few hours so I feel that I owe some feedback regarding balancing at the very least, even if it may be somewhat of a lengthy wall of text regarding mostly pacing:

Battles indeed need balancing. A thing prevalent from the start of the game is that i

[2018-10-06 11:31] gunchleoc commented on #403
I think the most important bit is the Confirm action here so that players can get through the menus more easily while they're still learning the UI. So, I have hard-coded an alternative in https://github.com/ValyriaTear/ValyriaTear/pull/617.

[2018-10-06 11:36] gunchleoc opened #618 "Error with key recognition in Key Settings menu"
To reproduce:

1. Enter the Key Settings menu
2. Chose "Confirm" and Hit "F" to select
3. Hit "Return" key to change code to return key
4. Hit "Return" key to select "Confirm" again
5. Hit "F" again to switch the key back to F. A non-existent key is chosen.

![valyriatear_assign_key](https://user-images.githubusercontent.com/4095570/46570939-5bde2d80-c964-11e8-98c4-07153b158788.png)

The key recog

[2018-10-07 11:12] gunchleoc commented on #545
I am now working on this in https://github.com/gunchleoc/ValyriaTear/tree/545-translation-loading-windows - the first step will be a successful compile under MSys2/MinGW, since my Visual Studio license has expired.

[2018-10-11 07:59] gunchleoc commented on #527
How about using [AppVeyor](https://www.appveyor.com/) for Windows builds? Windows builds with MSys2 will be fixed with https://github.com/ValyriaTear/ValyriaTear/pull/621, so all we'll need to do is to add an `appveyor-ci.yml` and call NSIS from the command line. I have a file that I could adapt if you guys will create an AppVeyor account.

[2018-10-12 03:04] rootslinux commented on #391
Hi, stumbled upon your comment tonight and just wanted to give you my personal response. i agree that it's grindy. I have a special distaste for any game where you spam the "attack" command until the enemy is dead. It's what I've desperately tried to avoid in my own game's battle system (which is the grandparent of ValyriaTear).

That said, its very easy to say "this game needs to be better balanc

[2018-10-12 08:09] FulcrumA commented on #391
Oh, thank you. That's kind of you, especially since I didn't expect anything like this, given that - as mentioned - the project seems to be kinda dead by now and I felt merely obliged to leave my own impressions after playing the game, owing it to a person directing me to it.

I don't really fault the person, merely complain about the aspect of the game. I am aware that from developer's side the b

[2018-10-12 15:22] rootslinux commented on #391
I think you'd be surprised at how easy it is to do balance work. Unless you are making major design/feature changes, the characters and enemy stats are pretty much in plain text and simple to modify. The problem with VT really is that there's no wiki or any documentation really; just the github page and the blogspot for news updates, so the barrier for entry is higher than it should be.

I'm not s

[2018-10-12 16:17] FulcrumA commented on #391
@rootslinux
I'm reluctant to make any real promises but can t least say that I will strive to remember to check on the project you mention once in a while and will give it at least a try once the new version you mention will come out :)

[2018-10-15 20:49] Bertram25 commented on #391
@FulcrumA Hey there, :)

Sorry to make you think the project is dead, my latest commit was actually made on the Sep 17, 2018, and I've got a couple more pending that I need to cleanup before push, even though, this is refactoring.

I'll try to answer each interesting points here as much as I can and I must say I do appreciate your feed-back and I believe most of it is true.

First of all, let's cl

[2018-10-15 21:13] rootslinux commented on #391
Awesome, I'm glad to hear that VT is still under development. I'm really excited to see what the 1.1 release is like. It sounds like it is a refined/polished 1.0 release rather than a release having new playable content, is that right?

Also I think rather than saying that you were contradicting me, you meant to say "concur". :) If you've found a good system for doing balancing work, I'm eager to

[2018-10-15 21:36] Bertram25 commented on #527
+1 for the appveyor windows build :D

[2018-10-15 21:37] Bertram25 commented on #545
I took my time but ok, duly noted. Feel free to keep me updated on this. I also reviewed your PRs.

[2018-10-15 21:38] Bertram25 commented on #618
ok good point. Is this the reason you forbid enter as a key in your PR?

[2018-10-15 21:45] Bertram25 commented on #391
@rootslinux You're right. Atm, I'm refining gameplay and balancing as a part of the current content. Hence the 1.1 name and not the 2.0 one.

And as for the contradicting part, I meant to contradict this sentence: "I think you'd be surprised at how easy it is to do balance work"
To me, changing the numbers is indeed simple. Making them work together on the long term is as hard as making a good sto

[2018-10-16 19:40] rootslinux commented on #391
Ah, now I see what you mean. Yes, changing balancing numbers is easy. But actually _balancing_ a game well is a lot of tough work and trial-and-error. That's what I meant to say by my earlier statement.

Over the last couple of years I've tried, unsuccessfully, to recruit someone who would focus on balancing and other design work that I frankly don't have time for right now. If memory serves corre

[2018-10-17 08:57] gunchleoc commented on #527
How do we want to organize this? After the Windows branch has been merged, we could do it like this:

1. I'll provide a first draft of the `appveyor-ci.yml` and create PR for testing, not to be merged yet
2. You'll set up an AppVeyor account and link it to GitHub to see if it gets triggered properly
3. I'll fix any remaining issues with the `appveyor-ci.yml`
4. I'll document how to use the Appveyo

[2018-10-17 09:00] gunchleoc commented on #618
I do not see where I forbid the enter key here - the enter key is not used. This is a branch directly off master, so it has nothing to do with the other branch where I added support for the enter key ;)

[2018-10-19 16:32] Bertram25 commented on #618
Ah get it now.

[2018-10-19 16:52] #618 closed

[2018-10-19 18:51] Bertram25 commented on #527
Feel free to ahead. :)
I'll create the appveyor account whenever possible.

[2018-10-19 18:54] Bertram25 commented on #616
@akien-mga would be cool. :) Whenever I have a more streamlined dev pipeline for VT, I'd like to try godot for some crazy ideas and fix a few things for OD also. Cheers,

[2018-10-22 12:11] gunchleoc commented on #403
Suggested UI workflow, just as a proposal, to add the second key, it would mean we have to change the OptionMenu into two entities:

* A list of key (Probably as an option menu without any selection)
* A second option menu with 2 columns handling the selection of the left or right selected key.

The 2 option menus would have to make it so they like like the same menu.

[2018-10-24 06:29] gunchleoc commented on #545
Since this is now fixed in MSys2 builds, can we close this bug?

[2018-10-24 18:15] Bertram25 commented on #545
Sure. Nice work.

[2018-10-24 18:15] #545 closed

[2018-11-04 04:38] Jastiva opened #623 "Segmentation Fault in Eyeball filled graveyard with Lua Script."
I started my game and got all this, I fought some graveyard eyeballs then it crashed, I'm using the master branch committed 4 days ago.
src/valyriatear
WARNING:/home/lori/ValTear/ValyriaTear/src/common/global/objects/global_inventory_handler.cpp:GetGlobalObject:282:
attempted to retrieve an object from inventory that didn't exist with id: 3004
ERROR:/home/lori/ValTear/ValyriaTear/src/modes/map/map

[2018-11-09 08:17] gunchleoc commented on #341
I'll take on this project.

[2018-11-09 09:35] eugeneloza commented on #341
Just don't forget that manipulating PO files will destroy a significant portion of previous translations :) I'm almost sure they may be restored semi-automatically, but never studied "how exactly" this should be done.

[2018-11-09 09:52] akien-mga commented on #341
It's possible to merge translations from a monolithic PO file into split PO files, I'm doing this for Godot docs translations: https://github.com/godotengine/godot-docs-l10n
(Translations are used by Sphinx to generate the docs as one PO per HTML page, but the translation catalog hosted on Weblate is a megafile with all catalogs collated.)

See https://github.com/godotengine/godot-docs-l10n/blob/m

[2018-11-09 09:53] gunchleoc commented on #341
That's easy enough if we pay attention - just manipulate the Transifex configuration and `tx push` to the new resource. We need to make sure to pull translations before moving stuff - we can also copy everything into the new textdomain before rebuilding the `pot` files.

[2018-11-09 23:31] Bertram25 commented on #341
@gunchleoc Many thanks for taking care of this. Definitely something that will help me a lot :D

As for the split, may I suggest this separation?

- [ ] Source code. (src/)
- [ ] Boot sequence (data/boot_menu)
- [ ] Inventory items translations (data/inventory)
- [ ] Entities (characters/enemies) translations (data/entities)
- [ ] Skills (data/skills)
- [ ] Config (data/config)
Story per location:

[2018-11-10 00:02] Bertram25 commented on #623
Hey @Jastiva :)

Thanks for the bug report. I'm sorry if you encountered bad things in the master branch. I'm still in the middle of making it more stable and hopefully a bit less boring. ;)
I'll have a look ASAP.

[2018-11-10 00:14] Bertram25 commented on #623
- [ ] layna_village/layna_village_center_at_night_script.lua:481: attempt to call method 'RemoveCharacter' (a nil value) Fix access to CharacterHandler.
- [ ] attempted to retrieve an object from inventory that didn't exist with id: 3004 (Probably because of going to the item in the skill graph)
- [ ] Segfault in the cemetery.
Not bad in themselves, but would be nice to be handled better:
- [ ] ER

[2018-11-10 00:38] Bertram25 commented on #527
Worked for the main releases. I'm closing the issue. Many thanks!

[2018-11-10 00:38] #527 closed

[2018-11-10 01:51] Bertram25 commented on #623
[code]
Found this, triggered in the cemetery.

And this, whenever you use BattleItems:
[code]

[2018-11-12 00:12] Bertram25 opened #624 "Investigate moving the audio source management in the audio descriptor"
Related to #623 and 04139a3ec36ef169917cf196de5d07b7cd6399d0

[2018-11-12 00:13] Bertram25 commented on #623
@Jastiva I would like to express a special thanks to you for this bug report as it made me realize there was quite a flaw in the sound management code.

For those interested (and for own later reference), the segmentation fault was triggered by Audio Descriptor pointers becoming flawed in the MapMode sound object list.
This was due to the fact that the Audio Manager had an audio cache that limited

[2018-11-12 00:13] Bertram25 commented on #623
Only one thing left before closing this issue, the BattleItems use triggering a warning.

[2018-11-12 09:31] gunchleoc commented on #527
AppVeyor does the job for Windows, but not for Mac. Do we want to open a separate issue for Mac?

[2018-11-12 09:42] gunchleoc commented on #341
Sounds good. We should think some more about how we want to split the story strings though - for example, the village appears at the beginning and then again later on when the characters return from the forest. For translators, story per chapter would be easier to handle than story per location. Is this feasible from a scripting point of view?

I have fiddled a bit with the CMake code for the stri

[2018-11-26 23:19] Bertram25 commented on #527
@gunchleoc  I guess we do, I don't own a Mac and I would need to borrow one + fiddle with XCode. So I wouldn't make this a high priority issue unless a Mac fellow shows up.

[2018-11-26 23:20] Bertram25 commented on #341
I'm so damn late, but the plan sounds good.

[2018-11-28 09:40] gunchleoc commented on #341
Great! It will now probably be some time before I can start working on it, but I'm still interested in taking care of this issue.

[2018-12-02 15:09] Bertram25 commented on #623
All fixed :)

[2018-12-02 15:09] #623 closed

[2018-12-13 22:22] #615 closed

[2018-12-13 22:50] Bertram25 opened #625 "Add circle and line battle zone targeting types"
The zone targeting types are zones that can freely be moved by the player in order to maximize the amount of targets hit by the skill.

- [ ] Let's add line and circle zone targeting types and use them for Bronann and Kalya Episode I skills.

- [ ] Using slash effects such as the following, improve the look and feel of special skills.
https://opengameart.org/content/slash-effect-collection
and
htt

[2018-12-13 22:54] Bertram25 commented on #391
Note to self, let's use #615 to improve the boss experience.

[2019-01-03 22:03] Bertram25 commented on #468
The addition of Orlinn paves the way to permit full testing of 3 then 2 battle formations for characters.
The menu must permit to setup at least 3 typical formations for 4, 3 and 2 characters.

This should also be visible in battle.

[2019-01-03 22:18] Bertram25 opened #626 "Add Kalya an attack magic spell to obtain in the first levels"
I'm in favour of the old good fireball spell + graphics and base animation.

[2019-01-03 22:22] Bertram25 opened #627 "Add support for battle item variant drops"
This has to be done automatically based on standard items + rnd properties.
Better items can have more than one property.

[2019-01-03 22:24] Bertram25 opened #628 "Addition of weapon mastery levels"
Weapon mastery level means weapons gets a little extra capacity or property ( see #627 ) when sufficiently used in battles and can have more than one if the variant is good.

[2019-01-03 22:29] Bertram25 opened #629 "Add Orlinn as a playable character"
From the moment the flee toward the mountain.

Adding Orlinn means a lot of work in itself:
- Add battle graphics, Orlinn should have a std weak attack, and be able to learn a effect based spells (3 spells should do).
- Add his skill tree parts.

[2019-01-03 22:32] Bertram25 opened #630 "Menu item list: Don't show all items, only show categories"
Showing a catalog of all items is per se unusable and it is what players see first.

Material should also get it's own category with less priority than consumables and batlle equipment.

[2019-01-03 22:36] Bertram25 commented on #372
very technical, will do it if the need arises.

[2019-01-03 22:36] #372 closed

[2019-01-03 22:44] Bertram25 opened #631 "Addition of the Parry skill"
The Parry skill should permit players to push a key when hit, making damage drop. The first skill level should only help a little.
With later skill training or "trading" with a master, characters will be able to trade this skill with a better one, like "Block", "Counter", but this is not yet the scope.

[2019-01-03 22:46] Bertram25 opened #632 "Attacks and special should have better graphics"
Attacks should have better graphics:
- [ ] Sword and arrow attacks should use more slash, crush effects
- [ ] Criticals should be a bit more epic and look visually different from std hits.

[2019-01-03 22:48] Bertram25 opened #633 "Magic should use invocation circles and more effects"
- [x] Magic spells should use invocation circle during warmup time and related particle effects.
- [x] Overall, magic spells should use more hit visuals also.

[2019-01-03 22:49] Bertram25 opened #634 "Battles - Status effects icons should first be bigger with all the work related."
status effects applied on characters should be bigger so that they can be read much more easily.
This is some work and means also breaking a few other menus.

[2019-01-03 22:53] eugeneloza commented on #634
I'm not really sure if the status icons should be larger. They were quiet readable the last time I've played Valyria Tear (but that was long ago :)). Maybe, playing a bit with colors might be useful, but not something that requires a lot of work with no clear gain.

[2019-01-03 22:54] Bertram25 opened #635 "Battles - Status effects information should rotate around portrait and characters with full text information"
e.g: If Bronann has 3 effects, the effects are displayed left under his portrait when selected and left his name when no character is selected.

One effect is displayed at a time and the information is rotating.
The information is displayed in full text. E.g: Strength +20%, Poison +40%
The time left bar is already implemented.

The same text information should be used in the map and the menu mode.

[2019-01-03 22:58] Bertram25 opened #636 "Redo minimaps using dark brown, parchment brown colors"
Let's use the same way for every minimap for consistency.
E.g:
![image](https://user-images.githubusercontent.com/765917/50666096-823b5580-0fb3-11e9-913a-2d37650da460.png)

[2019-01-03 23:00] Bertram25 opened #637 "Make items of interest be dynamically shown on minimaps"
E.g: Visible non secret items such as Exits, save point, characters with new conversation.

[2019-02-25 18:57] gunchleoc opened #638 "Please update translations on Transifex"
The translation files on Transifex are too old, could you please push a current .pot file?

See https://forum.freegamedev.net/viewtopic.php?p=78129#p78129

[2019-03-02 12:36] Bertram25 commented on #638
Hey, :)

I will do so tonight.

<div>-------- Message d'origine --------</div><div>De : gunchleoc <notifications@github.com> </div><div>Date :25/02/2019  19:57  (GMT+01:00) </div><div>À : ValyriaTear/ValyriaTear <ValyriaTear@noreply.github.com> </div><div>Cc : Subscribed <subscribed@noreply.github.com> </div><div>Objet : [ValyriaTear/ValyriaTear] Please update translations on Transifex
  (#638) </

[2019-03-03 06:52] Bertram25 commented on #638
Was done in: 730120c52771104742631aaa6c189bb77d3fa7b4
and on transifex.

Cheers,

[2019-03-03 06:52] #638 closed

[2019-03-03 07:48] gunchleoc commented on #638
Thanks!

[2019-07-29 14:29] Bertram25 opened #639 "Addition of super gauge"
The point is having a filling gauge that can used to improve skill effectiveness in battles.

To be decided how but it's here to keep thinking about it

[2019-08-07 18:34] #634 closed

[2019-08-07 18:34] Bertram25 commented on #635
Closed with: https://github.com/ValyriaTear/ValyriaTear/commit/1856ee7075ff6fb39530025911b1bb6019baecdb

[2019-08-07 18:34] #635 closed

[2019-08-15 13:29] HybridDog opened #641 "Stuck after loading autosave"
I've loaded the autosave and now I cannot walk around. I assume that the autosave feature does not work in this area.
![aut](https://user-images.githubusercontent.com/3192173/63097686-63516880-bf71-11e9-8737-e59cb3307792.jpg)

[2019-08-16 19:52] Bertram25 commented on #641
Nice catch, I'll have a look.

[2019-09-07 15:43] #415 closed

[2019-09-07 18:10] #641 closed

[2019-09-08 23:09] #391 closed

[2019-09-08 23:09] Bertram25 commented on #391
it's been a long time, but it's done

[2019-09-08 23:10] Bertram25 commented on #554
1.1 is basically done. I'll translate the beast into french, and then I'll package a beta :D

[2019-09-09 06:53] gunchleoc commented on #554
So I better step up my translation effort too. Is Transifex up to date?

[2019-09-09 17:12] Bertram25 commented on #554
@gunchleoc Hey, now it is ;)

I'll do my part, fix a few things I've seen and send out a beta. But you still have time for the actual 1.1.0 release.

[2019-09-09 18:34] Bertram25 commented on #554
French translation done. I'll start working on the final small thing I've seen and packaging the beast. :D

[2019-09-10 06:19] gunchleoc commented on #554
Maybe make an announcement on Transifex too?

[2019-09-10 21:32] Bertram25 commented on #554
I don't even know how to do that XD

[2019-09-10 21:56] Bertram25 commented on #554
Fixed 2 issues found by Willem (thanks!), reuploaded the fixed pot and fixed the translation both in the code and back in transifex.

[2019-09-11 21:46] Bertram25 commented on #554
Found and fixed 4 small bugs. AFAIK, I don't see big issues with the current release.
I'll wait for the translations about a week and if you don't guys don't see big issues, let's roll this one out :D

[2019-09-13 11:42] Bertram25 opened #642 "Issues with Ukrainian translation"
From Dzmitry Kushnarou:

- First, the wrong font is displayed for the 'Where it all began...' message, so it's unreadable: https://imageup.ru/img221/3473431/wrong-font.png (Russian has Cyrillic here: https://imageup.ru/img221/3473436/russian-font.jpg — so please apply whatever font changes you've done for Russian to Ukrainian too)

- Second, Ukrainian is the last language in the language list, and

[2019-09-13 11:47] Bertram25 opened #643 "Map subnames don't seem to be translatable anymore"
From @gunchleoc 👍

Fix the code and the pot in transifex.

[2019-09-13 14:26] Bertram25 opened #644 "Well underground map - darkness improvements"
The map dark overlay should be slightly less dark, so one doesn't have to peer to see something.

The Battle part should use light effects to let the player view the enemies.

[2019-09-13 14:26] Bertram25 commented on #554
Whoah, something must have gone wrong in the cmake target. I'll check this out and reupload the pot file once fixed. Thanks for the notice!
Opened: #643

[2019-09-13 14:27] Bertram25 commented on #554
This is weird, I'll check again

[2019-09-13 14:27] Bertram25 commented on #554
My bad ;) I'll make room for you guys ;)

[2019-09-13 16:14] #643 closed

[2019-09-15 09:53] gunchleoc opened #645 "Test truncation and overlaps"
I have some text truncation and overlap issues with Scottish Gaelic that I cannot resolve by shortening the translations further.

Battle lost screen - "OK" and "Cancel":

![Battle Lost](https://user-images.githubusercontent.com/4095570/64919774-c9b2ec00-d7a6-11e9-8c6b-078c47bfc95e.png)

Skills tree, description on the bottom for multiple skills (the number 11 is truncated here, and it would be ev

[2019-09-15 20:23] #642 closed

[2019-09-15 20:25] Bertram25 commented on #554
- Added you and Dzmitry in the end credits
- Added again the complete translations in nl_NL and GD with the map subnames fixed.
- I also fixed the map titles issue with Ukrainian and updated the Ukrainian translation.

[2019-09-15 20:28] Bertram25 commented on #554
@gunchleoc I can't reproduce the text issue with Carson (Calum) anymore. It should be ok now.

[2019-09-15 21:05] #644 closed

[2019-09-15 21:06] Bertram25 commented on #554
Ok, all issues seen so far are fixed.

[2019-09-15 21:10] Bertram25 commented on #645
@gunchleoc Just saw that one. I'll check what I can do.

[2019-09-16 16:07] gunchleoc commented on #554
Confirmed, this is fixed.

Funny bit of trivia: Carson is the Gaelic word for "Why"

[2019-09-18 22:00] Bertram25 commented on #645
@gunchleoc For the skills, here is the best I can achieve without too much refactoring:
![image](https://user-images.githubusercontent.com/765917/65186609-43c6c780-da6a-11e9-91f0-a1efc06dfc23.png)

[2019-09-18 22:09] #645 closed

[2019-09-18 22:11] Bertram25 commented on #554
Learning one word of Gaelic at a time. 🌞

Yeah XD I'll do it, but if you guys don't fix the string, I won't let it prevent a release.

[2019-09-18 22:12] Bertram25 commented on #554
Also I fixed the truncation issues as much as I could (Might still be there in specific cases for Gaelic in the skill tree, but I cannot really do much more for now, without bigger changes.)

[2019-09-18 22:22] Bertram25 commented on #554
Ok, I guess I'll wait some a final few days for maybe translation updates and then release :)

@gunchleoc I hope you enjoyed the ride. ;)

[2019-09-19 08:57] gunchleoc commented on #645
Tested and looking good, thanks a lot!

[2019-09-19 08:59] gunchleoc commented on #554
I have, it's a pleasure working with you. Looking forward to the first RPG in my language, ever! :D

I have translated the new string, so Gaelic is ready for pulling now.

BTW please use CamelCase on my nick in the end credits: GunChleoc. It will not make sense to Gaelic speakers otherwise ;)

[2019-09-19 20:52] Bertram25 commented on #554
Cool, all fixed :)

[2019-09-19 20:55] Bertram25 commented on #626
This was actually done in: https://github.com/ValyriaTear/ValyriaTear/commit/34dd0f5575186fa57ca653473d6fc063191cd4ab
and
https://github.com/ValyriaTear/ValyriaTear/commit/5db0eecf495d35c6ab045be0b75ee00d5823fc81

[2019-09-19 20:55] #626 closed

[2019-09-19 20:56] Bertram25 commented on #633
Was actually done for existing spells. The rest will be a continuous effort.
Base commit: https://github.com/ValyriaTear/ValyriaTear/commit/5db0eecf495d35c6ab045be0b75ee00d5823fc81

[2019-09-19 20:56] #633 closed

[2019-09-19 21:03] #516 closed

[2019-09-19 21:04] Bertram25 commented on #611
Actually, after some time trying them, they perform way better when playing with effects. So I'll keep it that way.

[2019-09-19 21:04] #611 closed

[2019-09-19 21:31] Bertram25 commented on #341
As for the story, I'll move the story into episode sub folders so that it is way easier to have a pot per episode + it will be easier for me to sort my data.

[2019-09-19 21:32] Bertram25 commented on #341
I'll update the check list in the base description

[2019-09-19 21:36] Bertram25 commented on #547
Actually done through .editorconfig. I consider it done but will always accept improvements there.

[2019-09-19 21:36] #547 closed

[2019-09-19 21:39] Bertram25 opened #646 "Skill Editor - Improve node loading time by not refreshing the node list each time"

[2019-09-19 21:44] #629 closed

[2019-09-19 21:45] Bertram25 commented on #629
Checked and won't be done for Ep II. There will be someone else ;)

[2019-09-19 21:47] Bertram25 opened #647 "Story - Add beginning up to main exploration mode"

[2019-09-22 14:20] Bertram25 commented on #554
https://github.com/ValyriaTear/ValyriaTear/releases/tag/1.1.0
https://valyriatear.blogspot.com/2019/09/episode-i-release-110-out.html

[2019-09-22 14:20] #554 closed

[2019-09-22 14:30] ibara opened #648 "Please make a tarball with submodules included"
This will make packaging ValyriaTear much easier for us porters/packagers.

[2019-09-22 14:39] Bertram25 commented on #648
I was sure this one was coming ;)

Actually, I'd like to have a script of even CI for that. But will do.

[2019-09-22 15:32] Bertram25 commented on #648
@ibara Let's have a try. Can you tell me if this is usable for you?
https://github.com/ValyriaTear/ValyriaTear/releases/download/1.1.0/ValyriaTear-src-with-deps-1.1.0.tar.gz

[2019-09-22 15:50] #648 closed

[2019-09-22 16:06] akien-mga commented on #648
@Bertram25 That works, but for future tarballs, it would be good to have a more explicit folder name than just "ValyriaTear". Source tarballs typically use the same folder name as the tarball name itself, e.g. `ValyriaTear-1.1.0.tar.xz` containing a `ValyriaTear-1.1.0` folder (that's what GitHub's autogenerated tarballs would give, and what most packaging systems will expect - `$name-$version`).

[2019-09-22 16:07] ibara commented on #648
This is fine with me (the OpenBSD ports tree doesn't have the concern that @akien-mga mentions, though it is true for people downloading for self-compilation).

[2019-09-22 17:07] Bertram25 commented on #648
Duly noted. For next release, I'll definitely make some script for that.

[2019-09-22 22:43] Bertram25 commented on #341
Did it. What's left is to update transifex.

[2019-09-22 23:29] Bertram25 commented on #341
Transifex is now up to date with the new pot files, previous translation injected in them.

[2019-09-23 08:12] gunchleoc commented on #341
Thanks! There are still some bugs though

[code]

[2019-09-23 21:08] Bertram25 commented on #341
@gunchleoc Hmm,
I did a git clean -xdf, reconfigured and recompiled. Everything is fine here:
[code]
Do you, by any chance , have an obsolete CMakeCache.txt file?  (Happens when the macros and other things are updated.)
Can you try from a clean config and tell me?

[2019-09-24 07:25] gunchleoc commented on #341
I grabbed a fresh clone and I am still getting the error. Maybe you still have a local file on your computer that needs a git add?

[code]

[2019-09-27 23:49] Bertram25 commented on #341
@gunchleoc Sorry for the very slow answer.

That's so weird. I did a fresh clone on another machine and compiled and it worked.
It was on Windows 10 with mingw 64. (I'll try again on Linux asap).

Were you on Linux by any chance?

[2019-09-28 07:50] gunchleoc commented on #341
Yes, I'm on Linux Mint 19.01

[2019-09-30 21:14] Bertram25 commented on #341
@gunchleoc I confirm CMake on Linux triggers the bug. I'm confused it din't on Windows. But now I see it, it looks obvious. Sorry for the inconvenience.
I'll have a look.

[2019-10-01 06:57] gunchleoc commented on #341
No problem. BTW the bug also shows on the Travis logs:

https://travis-ci.org/ValyriaTear/ValyriaTear/jobs/588232153

[2019-10-26 12:31] Bertram25 commented on #341
@gunchleoc So, it was already 25 days agom eh. But it should be better now. Can you have a go at testing it again? (I'll quick check on Windows I didn't break anything.)

[2019-11-15 23:22] AMDmi3 opened #651 "Build broken with disabled translations"
With `-DDISABLE_TRANSLATIONS:BOOL=ON`:

[code]

obviously because `ngettext` is used unconditionally in these two cases.

[2019-11-24 16:43] Bertram25 commented on #651
@AMDmi3 Should be ok now. Could you have a look?

[2019-11-25 22:01] bmorel commented on #651
Hello. Works for me, on Debian Buster.

[2019-11-26 12:26] AMDmi3 commented on #651
Yes, confirmed, thanks!

[2019-11-27 09:27] Bertram25 commented on #651
Thanks guys :)

[2019-11-27 09:27] #651 closed

[2019-12-13 14:21] #341 closed

[2019-12-13 18:21] gunchleoc commented on #341
Fix verified. Sorry I didn't get around to testing sooner.

[2019-12-28 19:03] damianatorrpm opened #654 "flatpak"
This is a friendly request if you want to /and/or/ create/(co-)maintain
the game ValyriaTear

Best Regards
Damian

[2020-01-08 17:26] Bertram25 commented on #654
I'm all for it. But I will definitely focus on improving the engine next. Do you mind helping on that?

[2020-04-23 07:44] julianaito opened #655 "Colors are off on big-endian platforms"
OS: OpenBSD
Platform: powerpc32 (macppc)

While #652 fixed the build, colors are off  when i start the game. Given how old is my machine, i wonder if it's due to the old OpenGL version, or if the code, that has big-endian support, has some issues.

![2020-04-23-062458_800x600_scrot](https://user-images.githubusercontent.com/41287367/80071737-6f041e80-8545-11ea-909b-55383ae7f800.png)

[code]

cc @i

[2020-05-03 14:56] julianaito commented on #655
I've managed to improve greatly things thanks to the below patch, but i'm not able to find where to fix the teal/black boxes around texts items.

[code]

![vmenu](https://user-images.githubusercontent.com/41287367/80917264-14956a00-8d5e-11ea-929b-8d3f45ebc6db.png)
![vgame](https://user-images.githubusercontent.com/41287367/80917420-085ddc80-8d5f-11ea-9301-733ce593395f.png)

[2020-05-13 01:18] bmorel commented on #655
Considering your patch, maybe a more resilient solution would be to to replace all occurrences of `SDL_PIXELFORMAT_ARGB8888` with a different symbol (let's say `PIXELFORMAT` for example) that would be be defined depending on the platform?

Something like (dunno in which file, though, a quick read didn't gave me an obvious one):

[code]
BTW, grepping through the source shows me 3 occurrences of SDL

[2020-05-13 11:36] Bertram25 commented on #655
Hey,

I'm sorry about the lack of true support, I never put in place the infrastructure to do so. Thanks for the notice though.

@julianaito  I believe @bmorel is right with the other occurences.

That said, I would move this snippet into a global method that returns the right pixel format and use that function where relevant (in the several occurences you mentionned).
I will do so asap and propos

[2020-05-13 11:45] Bertram25 commented on #655
Note to self, backport this as well.

Also, do a hotfix release for 1.1.0 to include:
- This
- the sdl sttutering fix due to usb mismanagement.

[2020-05-13 12:00] julianaito commented on #655
Sure!

[2020-05-24 13:42] Bertram25 commented on #655
@julianaito Could you try this branch?
655-endianess-fix-attempt

This potentially could fix texts as well. And whil you're at it, could you check whether the minimaps (the ones you can see on the bottom-right part of the screen in the Layna Forest, for instance) are looking right?
And could you try creating a screenshot from the engine (Ctrl+S while playing). The screenshot goes to the appdata as

[2020-05-24 13:43] Bertram25 commented on #655
@julianaito And sorry for being slow in my answers.

[2020-05-24 17:45] julianaito commented on #655
Hi,

Texts are still in the same state.

They look as expected.

Screenshots are working fine, i've visualised them on my amd64 machine, and there are no endianess issue.

Don't be sorry, we have all a life and stuff :)

[2020-07-07 17:54] cyberpunkbln opened #656 "Some issues in german translation?"
Hello,

in the newest version some german translations are in english, where are translated in german in earlier versions?

thx

[2020-09-17 17:32] gunchleoc commented on #656
If you want to help, translations are here: https://www.transifex.com/valyria-tear/valyria-tear/language/de/

[2020-10-10 23:07] donno2048 opened #657 "Buttons not working"
The close button is not working (need to press on quit) and so do the maximize button

[2021-03-25 23:54] eliodilar commented on #657
I will back ;() i will work on it ;-)

[2021-03-25 23:54] eliodilar commented on #657
it's a the start page?

[2021-03-27 08:12] Sturwandan opened #659 "luabind and vt-utils are not included in release tarball"
I have tried to install the game from source. Upon trying it, I have found out that release file downloaded from github (1.1.0.tar.gz) does not have luabind and vt-utils which has to be cloned separately. This is a problem because git submodules won't work on release tarball since it has git metadata stripped.

I was able to download those two libraries manually but removing empty directories luab

[2021-03-27 08:20] Sturwandan commented on #656
The link you provided is 404 not found. However I fixed the URL to https://www.transifex.com/valyria-tear/valyria-tear and it worked.

Anyway, I don't get how to translate strings. I have tried to log in but even after logging in I don't see how to get to actual line I can try to translate (though I'm not German, so I have poked other language, which isn't 100% translated)

[2021-03-27 08:35] eugeneloza commented on #656
@Sturwandan Select language - select file - and then you have two ways to translate: download the `po` file and use `PoEdit` - available both on Windows and Linux. Or press big blue "Translate" button to start translating online - much better if you are working with several people in parallel, as you don't create merge conflict with different po files, but less convenient IMHO. See the video where

[2021-03-28 06:48] Sturwandan commented on #659
Though it didn't build anyway, so I had to use the git master instead. The git master did build on my system (Slackware64 15.0)

[2021-03-29 08:18] Sturwandan commented on #659
I was able to complete the game (current master from github), however, I didn't get the chest in the cave with cuneiform inscription, it's enclosed by chasms from both sides.
In my walkthrough I have got hiccups which happened because I didn't remember the game from when I played it last time, well enough. It turns out that fighting fenrir when he has Orlinn was irreversible because the night time

[2021-04-13 19:59] Bertram25 commented on #659
Hey @Sturwandan ,

Sorry for being slow here, I was quite busy.
The default package from github is indeed a per repository file, which means that indeed the submodules aren't there.
It's a good point, and I'll try to make sure a reference source file is provided for the next release.

[2021-04-13 20:06] Bertram25 commented on #659
intended, as a advanced fomo thing ;)
The item will be back, but it was more some kind of reward for the most focused players.

Well, I bet it's a non issue then. But it should help when I lighten the cap after adding the next few maps. Not there yet, though.

Ok, I will check that last one when I can. Nice catch.

Hmm, I bet the joy of "physics" (note the quotes as I agree it's really basic) base

[2021-04-13 20:08] Bertram25 commented on #657
That's true, but afaik, the game asks you to confirm before quitting, so to me, it is not a bug.
Can you confirm?

[2021-04-13 20:09] Bertram25 commented on #656
Hey @eugeneloza long time no see ;)

@Sturwandan if you're still interested, I can activate Russian if you want.

[2021-04-13 20:10] #656 closed

[2021-04-13 20:23] #657 closed

[2021-05-13 05:15] Sturwandan commented on #659
Thank you for answer.

Mainly, the problem is that 20 levels is an arbitrary limit, which you have no idea about until you hit it, and when you do, you can't do anything with it. I have expected, that by killing enough enemies and collecting enough ores, I can fill the skill trees completely for both characters.

About the inaccessible chest, is it supposed to be a puzzle which I didn't solve or i

[2021-09-10 16:49] Bertram25 commented on #659
Added https://github.com/ValyriaTear/ValyriaTear/releases/download/1.1.0/ValyriaTear-src-with-deps-1.1.0.tar.gz before I forget I did this.
Will check the other smaller issue whenever I can.

[2021-12-17 02:49] Bertram25 commented on #435
Well, I made the code to draw everything at real size and made the render be zoomed 2x to get the same result than before.
But then the overall results is even more blurry than what we currently have. So I guess we have a good compromise for now. I'll disable the second rendering target for maps for now to earn a few fps, and call this one finally out.

[2021-12-17 03:14] #435 closed

[2021-12-17 03:30] Bertram25 commented on #659
Well, I looked for the PM/SP thing and couldn't find it, I'll have a playthrough once reaching a bit further and I'll fix that along the way. Closing this one as the other issue is fixed.

[2021-12-17 03:30] #659 closed

[2022-03-19 21:50] qrpnxz opened #660 "Your copyright is a mess"
[Readme](https://github.com/ValyriaTear/ValyriaTear/blob/master/README.md#licensing) says this project is distributed under the GPL, but it doesn't specify a version; that means one can [choose](https://www.gnu.org/licenses/gpl-3.0.html#section14) [any](https://www.gnu.org/licenses/old-licenses/gpl-2.0.html#section9) [version](https://www.gnu.org/licenses/old-licenses/gpl-1.0.html) of the GPL. But

[2022-06-03 18:02] Serentty commented on #655
I have a big endian system and would be able to test this.